{% extends 'base.html.twig' %}


{% block title %}FSU - Perfiles.{% endblock %}

{% block content %}
{% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<!--Equipos-->
<div class="bgWhite">
    <h1 class="col-md-12 text-center search-title p-t-20">Buscar Equipo para TU proyecto</h1>
    <form class="m-b-50 m-l-20 m-r-20 form-filter-profiles">
         <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <select class="custom-select form-control-search" id="select-profiles">
                            <option selected>Elije Profile...</option>
                            {% for Profile in opciones_Profile %}
                                <option value={{Profile.id}}>
                                    {{ Profile.name }}</li>
                                </option>    
                            {% endfor %}
                        </select>
                   </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">        
                        <select class="custom-select form-control-search" id="select-sector">
                            <option selected>Elije Sector...</option>
                                {% for sector in opciones_sectores %}
                                <option>
                                    {{ sector.name }}</li>
                                </option>    
                                {% endfor %}  
                            </option>       
                        </select>
                    </div>
                </div>         
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">  
                        <input type="number" name="km" class="Project-km form-control-search" placeholder="Distancia en KM">
                    </div>
                </div>
                 <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">          
                        <button type="button" class="btn btn-primary  filter-profiles">Buscar</button>
                    </div>
               </div>
         </div>           
    </form> 
</div>    
<div class="row">
        {% for profile in profiles %}
        <div class="col-md-3 m-b-15"> 
            <div class="cardBlock shadow_box" >         
                <div class="imageCard p-3">
                     <img  class="card-img-top w-100" src ="{{ asset('build/img/uploads/users_profile/' ~ profile.user_img) }}" alt="image"/>                  
                </div>                    
                <div class="mainCard p-3">  
                    <div class="d-flex align-items-top justify-content-between">  
                        <p class="ver_color">{{ profile.name}}</p>   
                        <p>
                            <a href="{{ path('profile',{"id": profile.user_id }) }}">
                                <img class="click" src ="{{ asset('build/img/click.png') }}">
                            </a>    
                        </p>  
                    </div>            
                    <div class="revealCard ">
                            <table class="table table-responsive tableCard border" id="style-scroll">
                                <thead class="bgGris">
                                    <tr>
                                        <th>Profile</th>
                                        <th>Sector</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set i = 0 %}
                                    {% for userProfile in profile.perfiles %}
                                    <tr>                       
                                        <td>                                         
                                            <p>{{ userProfile.name}}</p>                                 
                                        </td>
                                        <td>
                                            <p>{{ profile.sectors[i]}}</p> 
                                        </td>                          
                                    </tr>
                                    {% set i = i + 1 %}
                                    {% endfor %}
                                </tbody>
                        </table>    
                     </div> 
                 </div> 
            </div>
        </div>
    {% endfor %} 
</div>  
{% endblock %}

 

