{% extends 'base.html.twig' %}


{% block title %}Perfiles{% endblock %}

{% block content %}
{% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<!--Equipos-->
<div class="bgWhite">
    <h1 class="col-md-12 text-center search-title p-t-20">Buscar Equipo para TU Proyecto</h1>
    <form class="m-b-50 m-l-20 m-r-20 form-filter-profiles">
         <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <select class="custom-select form-control-search" id="select-profiles">
                            <option selected>Elije Perfil...</option>
                            {% for perfil in opciones_perfil %}
                                <option value={{perfil.id}}>
                                    {{ perfil.name }}</li>
                                </option>    
                            {% endfor %}
                        </select>
                   </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">        
                        <select class="custom-select form-control-search" id="select-sector">
                            <option selected>Elije Sector...</option>
                                {% for sector in opciones_sectores %}
                                <option>
                                    {{ sector.name }}</li>
                                </option>    
                                {% endfor %}  
                            </option>       
                        </select>
                    </div>
                </div>         
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">  
                        <input type="number" name="km" class="proyect-km form-control-search" placeholder="Distancia en KM">
                    </div>
                </div>
                 <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">          
                        <button type="button" class="btn btn-primary  filter-profiles">Buscar</button>
                    </div>
               </div>
         </div>           
    </form> 
</div>    
<div class="card-columns">  
    {% for profile in profiles %}
     <!-- Recojemos todos los perfiles del mismo usuario -->             
        <div class="card box bgWhite">                                          
            <img  class="card-img-top" src ="{{ asset('build/img/uploads/users_perfil/' ~ profile.user_img) }}" alt="image"/> 
            <h4 class="text-center"><br/>{{ profile.name}}</h4>                       
            <div class="box-content overflow-auto">  
                <div class="text-content "> 
                    <a href="{{ path('detalle_profile',{"id": profile.user_id }) }}">  
                        <h4>{{ profile.name}}</h4>                                      
                        <table class="table border">
                            <thead class="bgAzul text-white">
                                <tr>
                                    <th>Perfil</th>
                                    <th>Sector</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for userperfil in profile.perfiles %}
                                <tr>                       
                                    <td>
                                        <p>{{ userperfil}}</p>                                 
                                    </td>
                                    <td>
                                        <p>{{ profile.sectors[i]}}</p> 
                                    </td>                          
                                </tr>
                                {% set i = i + 1 %}
                                {% endfor %}
                            </tbody>
                        </table> 
                    </a>    
                </div>    
            </div>   
        </div>
        <!-- FIN Recojemos todos los perfiles del mismo usuario --> 
    {% endfor %}  
</div>        
    <!--Ventana Pop-Up -->         
{% endblock %}

 

