{% extends 'base.html.twig' %}

{% block title %}Detalle Usuario{% endblock %}
{% block content %}
<!--Contenido DetalleUsuario-->
 {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <div class="row m-t-20">
        <div class="col-md-9 col-8">
            <p class="ver_color fs-20 p-l-5"><b>Informacion Perfil</b></p>
        </div>
        <div class="col-md-3 col-4">
             {% if is_granted('ROLE_USER') %}
                    <a href="#" data-toggle="modal" data-target="#modalForm_interestProfile"><p class="bgGris p-r-5 p-l-5 text-center fs-20 m-r-10  ">Me Interesa</p></a>
                    {% include 'modals/interestProfile.html.twig' %}            
                {% else %}
                    <a href="{{ path('security_login') }}"><p class="bgGris p-r-5 p-l-5 text-center fs-20 m-r-10  ">Me Interesa</p></a>   
        {% endif %}                                    
        </div>
    </div>
    <div class="row  m-t-20">    
        <div class="col-md-7 col-12 p-l-40">
            <div class="row">
                <div class="col-md-4 col-4 border ">
                    <div> <img  class="card-img-top" src ="{{ asset('build/img/uploads/users_perfil/' ~ profile.0.user.getPerfilImg) }}" alt="image"/></div>
                </div> 
                <div class="col-md-8 col-8">
                    <span>Usuario :<b>{{profile.0.user.Username}}</b></span><br/>
                    <span>Nombre:<b>{{profile.0.user.name}}</b></span><br/>
                    <span>Proximidad: 4,5km</span><br/>
                    <span>Email:<b>{{profile.0.user.email}}</b></span><br/>
                    <span>Telefono:<b>{{profile.0.user.phoneNumber}}</b></span><br/>
                </div> 
            </div>
        </div>
        <div class="col-md-5 col-12 p-l-40 ">
            <span>Tiene proyectos:</span>
            {% for project in projects %}
                    <p><b>{{project.ProjectName}}</b></p>
            {% endfor %}
            
            <hr/>
            <p>Tu has contactado con el :<a href="#"class="ver_color">Si</a></p>
            <p>El ha contactado contigo:<b>No</b></p>
        </div>
    </div>
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" ver_color par fs-20 p-l-5"><b>Datos profesionales</b></p>
        </div>
    </div> 
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" par fs-20 p-l-5">Se define como:</p>
        </div>
        <div class="col-md-12 ">
            <div  class="border m-r-20"style="height:80px;" >
            {% if profesional.profesionalDescription is defined %}
                <b>{{profesional.profesionalDescription}}</b>
            {% else %}
                <p> El usuario no se ha definido</p> 
            {% endif %}   
            </div>
        </div>
    </div> 
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" par fs-20 p-l-5"><b>Estos son los perfiles profesionales y los sectores en los que tiene experiencia:</b></p>
        </div>
    </div> 
     
    <div class="row m-t-20 m-r-10">      
        <div class="col-md-12 col-8 border" >

            {% for profil in profile %}            
            <p>Sector:<b>{{ profil.Profil}}</b></strong></p>
            <p>Perfil:<b>{{ profil.Sector}}</b></strong></p> 
             <p>Detalle:<b>{{ profil.Description}}</b></strong></p>        
            <hr/>
            {% endfor %}
        </div>
    </div> 
    
    <div class="row m-t-20 m-b-20 p-r-20"> 
        <div class="col-md-12">
            <p class="ver_color par fs-20 "><b>Contactos previos</b></p>
        </div>
        <div class="col-md-12">
            <p><b>Tu has contactado con el :<a href="#"class="ver_color par1">Si</a></b></p><br/>  
            <div class="col-md-12"><span class="p-t-10">El 19/02/2016 por su perfil como programador para tu proyecto mongolog</span></div>
            <div class="col-md-12 border"style="height:80px;"></div>   
            <div class="col-md-12"><span class="p-t-10">El 19/02/2016 por su perfil como programador para tu proyecto mongolog</span></div>
            <div class="col-md-12 border"style="height:80px;"></div>                
            <p class="p-t-20"><b>El ha contactado contigo:<a href="#"class="ver_color  par1">Si</a></b></p><br/>
            <div class="col-md-12"><span class="p-t-10">El 19/02/2016 por su perfil como programador para tu proyecto mongolog</span></div>
            <div class="col-md-12 border"style="height:80px;"></div>
        </div>    
    </div>         
  
     {% include 'modals/MeInteresa.html.twig' %}    
{% endblock %}

