{% extends 'base.html.twig' %}

{% block title %}Detalle Usuario{% endblock %}
{% block content %}
<!--Contenido DetalleUsuario-->
 {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <div class="row m-t-20">
        <div class="col-md-9 col-8">
            <p class="ver_color fs-20 ">Informacion Profile</p>
        </div>
        <div class="col-md-3 col-4">
             {% if is_granted('ROLE_USER') %}
                    <a href="#" data-toggle="modal" data-target="#modalForm_interestProfile"><p class="btn btn-primary  fs-20 text-center float-right">Me Interesa</p></a>
                    {% include 'modals/interest-profile.html.twig' %}            
                {% else %}
                    <a href="{{ path('security_login') }}"><p class="btn btn-primary  fs-20 text-center float-right ">Me Interesa</p></a>   
        {% endif %}                                    
        </div>
    </div>
    <div class="row  m-t-20">    
        <div class="col-md-7 col-12 ">
            <div class="row marginUser">
                <div class="col-md-4 col-4 shadow_box p-3 ">
                    <img  class="card-img-top" src ="{{ asset('build/img/uploads/users_perfil/' ~ profile.0.user.getProfileImg) }}" alt="image"/>
                </div> 
                <div class="col-md-8 col-8 shadow_box p-3 ">
                    <span class="profiluserId" data-profiluserId={{profile.0.user.id}} data-profilusername={{profile.0.user.Username}}>Usuario: <span class="ver_color">{{profile.0.user.Username}}</span></span><br/>
                    <span>Nombre: <span class="ver_color">{{profile.0.user.name}}</span></span><br/>

                    {% if is_granted('ROLE_USER') %}
                    <span>Proximidad: <span class="ver_color">{{distanceUsers}} km</span></span><br/>
                    <span>Email: <span class="ver_color">{{profile.0.user.email}}</span></span><br/>
                    <span>Telefono: <span class="ver_color">{{profile.0.user.phoneNumber}}</span></span><br/>
                     {% endif %}
                </div> 
            </div>
        </div>
        <div class="col-md-5 col-12 p-l-40">
            <span class="bgGris shadow_box p-3">Tiene los siguientes projects:</span>
            <div class="p-t-10 shadow_box p-3">
                {% for project in projects %}
                    <a href="{{ path("project",{"id": project.id }) }}" class=" ver_color">{{project.ProjectName}}</br></a>               
                {% endfor %}
            </div>            
        </div>
    </div>
     
    
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" ver_color par fs-20 ">Datos profesionales</p>
        </div>
    </div> 
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12 ">
            <p class=" par fs-20 ">Se define como:</p>
        </div>
        <div class="col-md-12 ">
            <div  class="bgWhite shadow_box p-3 m-t-20 " >
            {% if profesional.profesionalDescription is defined %}
                {{profesional.profesionalDescription}}
            {% else %}
                <p> El usuario no se ha definido</p> 
            {% endif %}   
            </div>
        </div>
    </div> 
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" par fs-20 ">Estos son los Profilees profesionales y los sectores en los que tiene experiencia:</p>
             {% if is_granted('ROLE_USER') %}
            <div class="row m-t-20 col-md-12">
                <p>Tu has contactado con el para los siguientes Profilee:
                    
                    {% for profileInterest in profilesInterest %}                        
                        {{ profileInterest.interestProfile.name }}                    
                    {% endfor %}
                
                </p>             
                <p> El ha contactado contigo:No</p>
        </div> 
    {% endif %} 
        </div>
    </div> 
     
    <div class="row m-t-20">      
        <div class="col-md-12 " >
            <div class="shadow_box bgGris p-3">
            {% for profil in profile %}                        
            <p>Perfil:<span class="ver_color">{{ profil.profil.name}}</span></p>
            <p class='profile-sector' data-{{profil.profil.name}}="{{ profil.Sector}}">Sector:{{ profil.Sector}}</p> 
             <p>Detalle:{{ profil.Description}}</p>        
            <hr/>
            {% endfor %}
            </div>
        </div>
    </div> 
    
    <div class="row m-t-20 m-b-20 p-r-20"> 
        <div class="col-md-12">
            <p class="ver_color par fs-20 ">Contactos previos</p>
        </div>
        <div class="col-md-12">
            <p>Tu has contactado con el :<a href="#"class="ver_color par1">Si</a></p><br/>  
            <div class="col-md-12"><span class="p-t-10">El 19/02/2016 por su Profile como programador para tu project mongolog</span></div>
            <div class="col-md-12 border"style="height:80px;"></div>   
            <div class="col-md-12"><span class="p-t-10">El 19/02/2016 por su Profile como programador para tu project mongolog</span></div>
            <div class="col-md-12 border"style="height:80px;"></div>                
            <p class="p-t-20">El ha contactado contigo:<a href="#"class="ver_color  par1">Si</a></p><br/>
            <div class="col-md-12"><span class="p-t-10">El 19/02/2016 por su Profile como programador para tu project mongolog</span></div>
            <div class="col-md-12 border"style="height:80px;"></div>
        </div>    
    </div>         
  
     {% include 'modals/interest-me.html.twig' %}    
{% endblock %}

