{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block content %}
<!--Contenido Proyectos-->
<div class="row col-md-8 content  bgWhite">
    <h1 class="col text-center par">Factoria StartUp</h1>
    <div class="col-12" id="buscar">
        <div class="form-group row">
            <label for="sector" class="col-form-label par1">Sectores</label>
            <div class="col-2">
                <input class="form-control" type="search"  >
            </div>
            <label for="perfiles" class="col-form-label par1">Perfiles</label>
            <div class="col-2">
                <input class="form-control" type="search" >
            </div>
            <label for="distancia" class="col-form-label par1">Distrancia</label>
            <div class="col-2">
                <input class="form-control" type="search">            
            </div>             
            <button type="search" class=" btn-md btn-info par1">Buscar</button>                           
        </div>
    </div>
    <div class="row par1">
        <div class="col-12 col-md-6"> 
                <div class="blog-grid">                         
                    <div class="blog-grid-img position-relative">  
                        <img src="{{ asset('logo.png','imagenlogo') }}" alt="Symfony!"/>
                    </div>
                    <div class="blog-grid-text padding-25px-all md-padding-20px par1 ">     
                        <h5 class="par1"><strong>Necesidades:</br>Marketing,Dise単o..</strong></h4>
                    <div class="no-margin par1">    
                        <p>Aportacion:</br>Programacion,Ventas..</strong></p>
                    </div>  
                    <p>Descripcion Proyecto</p>  
                    <a href="{{ path('detalle_proyecto') }}"><p class="par1 ver_color">Ver Mass..</p></a>   
                </div>                                                   
            </div>
        </div>
        <div class="col-12 col-md-6"> 
                <div class="blog-grid">                         
                    <div class="blog-grid-img position-relative">  
                        <img src="{{ asset('logo.png','imagenlogo') }}" alt="Symfony!"/>
                    </div>
                    <div class="blog-grid-text padding-25px-all md-padding-20px par1 ">     
                        <h5 class="par1"><strong>Necesidades:</br>Marketing,Dise単o..</strong></h4>
                    <div class="no-margin par1">    
                        <p>Aportacion:</br>Programacion,Ventas..</strong></p>
                    </div>  
                    <p>Descripcion Proyecto</p>  
                    <a href="{{ path('detalle_proyecto') }}"><p class="par1 ver_color">Ver Mass..</p></a>   
                </div>                                                   
            </div>
        </div>
        <div class="col-12 col-md-6"> 
                <div class="blog-grid">                         
                    <div class="blog-grid-img position-relative">  
                        <img src="{{ asset('logo.png','imagenlogo') }}" alt="Symfony!"/>
                    </div>
                    <div class="blog-grid-text padding-25px-all md-padding-20px par1 ">     
                        <h5 class="par1"><strong>Necesidades:</br>Marketing,Dise単o..</strong></h4>
                    <div class="no-margin par1">    
                        <p>Aportacion:</br>Programacion,Ventas..</strong></p>
                    </div>  
                    <p>Descripcion Proyecto</p>  
                    <a href="{{ path('detalle_proyecto') }}"><p class="par1 ver_color">Ver Mass..</p></a>   
                </div>                                                   
            </div>
        </div>
        <div class="col-12 col-md-6"> 
                <div class="blog-grid">                         
                    <div class="blog-grid-img position-relative">  
                        <img src="{{ asset('logo.png','imagenlogo') }}" alt="Symfony!"/>
                    </div>
                    <div class="blog-grid-text padding-25px-all md-padding-20px par1 ">     
                        <h5 class="par1"><strong>Necesidades:</br>Marketing,Dise単o..</strong></h4>
                    <div class="no-margin par1">    
                        <p>Aportacion:</br>Programacion,Ventas..</strong></p>
                    </div>  
                    <p>Descripcion Proyecto</p>  
                    <a href="{{ path('detalle_proyecto') }}"><p class="par1 ver_color">Ver Mass..</p></a>   
                </div>                                                   
            </div>
        </div>   
   </div>               
</div>
{% endblock %}

