{% extends 'base.html.twig' %}

{% block content %}
	{% if error %}
		<div class="m-t-20 alert alert-danger">
			{{ error.messageKey|trans(error.messageData, 'security') }}
		</div>
	{% endif %}
	<div class="shadow_box bgGris  m-t-20 px-5 py-5">
		<h4>Ingresa</h4>
		<form action="{{ path('security_login') }}" method="post" class="form-inline">
			<div class="input-group m-r-10 m-t-10">
				<input type="text" id="username" name="_username" required="required" class="form-control p-t-30 p-b-18" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" 
					value="{{ last_username }}">
			</div>
			<div class="input-group m-r-10 m-t-10">
				<input type="password"  id="password" name="_password" required="required" class="form-control p-t-30 p-b-18" placeholder="Contraseña" aria-label="password" aria-describedby="basic-addon1">
			</div>
			<div class="input-group m-t-10">
				<button type="submit" id="Login" name="Login" class="btn btn-primary">Entra en tu Perfil</button>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<input type="hidden" name="_target_path" {% if ( last_username == 'admin') %} 
																value="{{ path('admin_projects') }}"			
															{% else %}	
																value="{{ app.request.get('redirect_to') }}"
															{% endif %} 	
																>

			<div class="w-full text-center p-t-55">
				<span>
					No estas dado de alta?
				</span>
				<a href="{{ path('user_register') }}">
					Registrate ahora
				</a>
			</div>
		</form>
	</div> 
{% endblock %}


