{% extends 'base.html.twig' %}

{% block title %}Noticias{% endblock %}

{% block content %}
    <h1 class="page-head-line p-t-20"><span>Noticias</span></h1> 
    <hr>
    <div class="items m-r-20 m-l-20 p-t-10 m-b-20 ">
        <div class="item p-t-10 p-b-10 ">
            <div class="row">
                <div class="col-md-4 p-t-20">
                    <a href="{{ path('noticia') }}" title="" class="image-item">
                        <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/01/31/15489514580484_165x0.jpg" itemprop="url" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <a href="{{ path('noticia') }}" title="" class="fs-20 par">
                        <b>Vivendi</b> 
                    </a><br/>
                    <a href="{{ path('noticia') }}" class="par">
                        Vivendi culmina la compra a Planeta de la editorial francesa Editis.Vivendi culmina la compra a Planeta de la editorial francesa Editis
                    </a><br/>
                    <time class="mod-date" datetime="2019-01-31 17:18:04">
                        <strong>31/01/2019</strong>
                        <strong>17:18</strong>
                    </time>
                </div>
            </div>
           <hr> 
        </div>
         <div class="item p-t-10 p-b-10 ">
            <div class="row">
                <div class="col-md-4 p-t-20">
                    <a href="{{ path('noticia') }}" title="" class="image-item">
                        <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/01/31/15489514580484_165x0.jpg" itemprop="url" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <a href="{{ path('noticia') }}" title="" class="fs-20 par">
                        <b>Vivendi</b> 
                    </a><br/>
                    <a href="{{ path('noticia') }}" class="par">
                        Vivendi culmina la compra a Planeta de la editorial francesa Editis.Vivendi culmina la compra a Planeta de la editorial francesa Editis
                    </a><br/>
                    <time class="mod-date" datetime="2019-01-31 17:18:04">
                        <strong>31/01/2019</strong>
                        <strong>17:18</strong>
                    </time>
                </div>
            </div>
           <hr> 
        </div>
        <div class="item p-t-10 p-b-10 ">
            <div class="row">
                <div class="col-md-4 p-t-20">
                    <a href="{{ path('noticia') }}" title="" class="image-item">
                        <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2019/01/31/15489514580484_165x0.jpg" itemprop="url" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <a href="{{ path('noticia') }}" title="" class="fs-20 par">
                        <b>Vivendi</b> 
                    </a><br/>
                    <a href="{{ path('noticia') }}" class="par">
                        Vivendi culmina la compra a Planeta de la editorial francesa Editis.Vivendi culmina la compra a Planeta de la editorial francesa Editis
                    </a><br/>
                    <time class="mod-date" datetime="2019-01-31 17:18:04">
                        <strong>31/01/2019</strong>
                        <strong>17:18</strong>
                    </time>
                </div>
            </div>
           <hr> 
        </div>   
    </div>        
{% endblock %}        