{% extends 'user_views/index_vista.html.twig' %}

{% block vista %} 
  <script type="text/javascript">
        window.onload = function() {
            document.getElementById("op2").style.background="#0070C0";
            document.getElementById("op2").style.color="#fff";
        }
    </script> 
    <div class="row">
        <div class="col-md-12  m-b-20">
            <h4 class="page-head-line">Añadir Proyecto</h4>
                <p>&#9679; Esto no es un plan de negocios, se trata de mostrar que has  hechos los deberes y que grado de compromiso tienes con tu proyecto.</p> 
                <p>&#9679; Recuerda entrar y completar lo que falte para que sea cada vez más atractiva para los demás.</p>
        </div>
    </div> 
     <div class="row">
                    <ul class="js-pagination u-carousel-indicators-v30 g-pos-abs g-top-0">
            <li class="slick-active">

                <a href="#">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15 ">Información Proyecto</span>
                </a>

            </li>
            <li class=" ">

                <a href="#">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15">Fase Proyecto</span>
                </a>
            </li>
            <li class=" disabled">
                <a href="{{ path('addPerfilToProyect', {'id':app.request.get('id')}) }}">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15">Aportación en el Proyecto</span>
                </a>
            </li>
            <li class="">
                <a href="{{ path('proyectNeeds', {'id':app.request.get('id')}) }}">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15 ">Necesidades Proyecto</span>
                </a>
            </li>
        </ul>
    </div>    
       
     {#{ render (controller ('App\\Controller\\UserProjectController::addProject', {'request': app.request, 'id':app.request.get('id')} )) }#} 

    <!-- Add Form Step 1  -->
            <div class="tab-multi-form"> 
                        <!-- Step Form Header -->                
                        <div class="col-md-12 text-center m-t-10  modal-title">
                            <h4 class="par colorAzul2" id="myModalLabel">Información Proyecto</h4>  
                        </div>  
            <div class="nuevo_proyecto  m-t-20">
                    <div class="row">
                      
                            <div  class="col-2">
                                <img src ="{{ asset('build/img/uploads/projects_img/' ~ project.getProjectImg) }}"/>
                            </div>    
                            <div class="col-3 p-b-0">
                                <div class="form-group ">
                                     {{form_row (formProfile.project_img,{'enctype':'multipart/form-data'})}}
                                </div>
                            </div>
                                   
                        <div class="col-md-12">
                                <div class="row step-1">
                                {{form_row (formProfile.project_name,{ 'attr' : { 'class': 'col-md-12'} } )}}
                                {{form_row (formProfile.project_sector)}}                                
                                {{form_row (formProfile.project_short_description)}}
                                    <p for="" class="col-4 col-form-label par1">Facturacion estimada </p>
                                    <div class="col-8 p-b-5">
                                        <div class="row">
                                            <div class="col-4">
                                                {{form_row (formProfile.project_aprox_facturation1)}}
                                            </div>  
                                            <div class="col-4">
                                                {{form_row (formProfile.project_aprox_facturation2)}}
                                            </div> 
                                            <div class="col-4">
                                                {{form_row (formProfile.project_aprox_facturation3)}}
                                            </div>   
                                        </div>    
                                    </div>
                                    <label for="" class="col-4 col-form-label par1">Clientes Potenciales</label>
                                    <div class="col-8  p-b-5">
                                        <div class="row">
                                            {{form_row (formProfile.project_potentialy_users)}}
                                            {{form_row (formProfile.project_potentialy_companies)}}
                                        </div>    
                                    </div>
                                        {{form_row (formProfile.project_competitors)}}
                                    
                                </div>

                        </div>
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <a  id="ver"href="#help"  data-toggle="modal" data-target="#modalHelp"><img src="{{ asset('circulo.png','circulo') }}" alt="Symfony!"/></a>
                        </div>
                        <div class="col-md-12  fs-15">
                            <p class="par"><b>Rezumen ejecutivo*</b></p> 
                            
                            {{form_widget (formProfile.project_description)}}
                        </div>     
                    </div>
                </div>
                <div class="col-md-6">
                {#{form_row (formProfile.submit ,{ 'attr' : { 'class': 'btn-info btn-block float-r m-t-30 m-b-20 par'}} ) } #}
                </div>
            {#{form_end (formProfile)}#}
            
                <!-- <div class="col-md-6">   
                    <buton  class="btn btn-info btn-block float-r m-t-30 m-b-20 par">Siguiente</button>
                </div> -->

            <!-- Include Modal Header-->
            <div class="modal fade par" id="modalHelp" role="dialog">  
                <div class="modal-dialog">      
                    <div class="modal-content">  
                        <div id="ayuda" class="col-md-12 m-b-20  border par" id="modalHelp" >
                            <h4 class="bgAzul text-white par">¿ Cómo rellenar un Proyecto?</h4>
                            <p>Esto no es plan de negocio, es un resumen de puntos básicos que debes de mostrar si  quieres que alguien se interese en tu proyecto</p>
                            <p>Trata de despertar el interés sin desvelar información sobre tu modelo de negocio, tu estrategia, tu política de precio o tu mercado. Eso dejalo para cuando encuentres a tu equipo.</p>
                            <p>&#9679;  <b>Nombre del Proyecto:</b> si lo tienes pensado y no lo has registrado no lo pongas, y si no tienes nada pensado inventatelo y vete pensando uno.</p>
                            <p>&#9679;  <b>Definirlo en una línea: </b> Cuenta de forma rápida y precisa en qué consiste tu negocio.</p>  
                            <p>Los siguientes puntos son importantes si quieres que la gente demuestre interés, son puntos necesarios de un estudio de mercado para ver la viabilidad del proyecto.</p>
                            <p>Si inicialmente no lo sabes, no pasa nada, pero poco a poco vete completandolo</p>
                            <p>&#9679; <b>Facturación estimada:</b> Cuantifica cuánto vas a vender en los próximo 3 años, pon cifras lógicas y basadas en números que que tengan sentido.</p>
                            <p>&#9679; <b>Clientes Potenciales: </b> son los que van a pagar por tu producto o servicio.</p>
                            <p>Según el tipo de proyecto, pueden existir 2 tipos de clientes:</p>
                            <p>Usuarios:</p><p>Ejemplo</p><p>Empresas:</p><p>Ejemplo</p>
                            <p>&#9679; <b>Competencia: </b>Enumera quien es tu competencia, ya tendrás tiempo de analizar.</p>
                            <p><b>Mini-Resumen ejecutivo:</b></p>
                            <p>Aquí puede cualificar los anteriores. el objetivo es demostrar a los futuromiembros que todo tiene un ¿porque?, una base sólida que permite confiar tanto en el proyecto como en ti y tu equipo</p>
                            <p>Recuerda que tienes que demostrar que es un proyecto serio, y con pespectivas, pero nuestro consejo es que no desveles etratejias </p>
                            <p>La idea.</p><p>La idea.</p><p>El estado en el que encuentra</p><p>La prevision de crecimiento</p><p>La prevision.</p><p>El equipo.</p>
                        </div>
                    </div>  
                </div>           
            </div>
        </div>
    <!-- Fin From  Step 1  -->

     <!-- Add Form Step 2  -->
     <div class="tab-multi-form">
    <!-- Step Form Header -->
                <div class="modal-header">
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par colorAzul2" id="myModalLabel">Fase Proyecto</h4>  
                </div>     
    <div class="col-md-12 m-t-20 par">
        <p><b>¿Como de avanzado se encuentra tu proyecto?</b></p>
    </div>
     <div class="col-md-10">
        <div class="form-check form-check-inline">
            {{form_row (formProfile.project_team)}}            
            {% if project.ProjectTeam == true %}
                {{ form_row (formProfile.project_team_number)}}
           {% else %}
                {{ form_row (formProfile.project_team_number,{ 'attr' : { 'class': 'hide-e' } })}}
           {% endif %}  
            <label class="form-check-label par1" for="inlineCheckbox2 "> <b>¿Tienes equipo?</b> Tanto si estás solo como si tienes equipo, cuéntanos</label>
        </div> 
    </div>
    <div class="col-md-2">
        <img src="{{ asset('bumb.png','bumb') }}" alt="Symfony!"/>
    </div>
    <div class="col-md-10">
        <div class="form-check form-check-inline">
        {{form_row (formProfile.phase_idea)}}
            
            <label class="form-check-label par1" for="inlineCheckbox2 "> <b>Idea</b> Es solo eso, no has analizado nada y piensas que puede funcionar.</label>
        </div> 
    </div>
    <div class="col-md-2">
        <img src="{{ asset('cuaderno.png','cuaderno') }}" alt="Symfony!"/>
    </div>
    <div class="col-md-10">
        <div class="form-check form-check-inline">
            {{form_row (formProfile.phase_ideaMV)}}
            <label class="form-check-label par1" for="inlineCheckbox2 "> <b>Idea minima viable</b> Sigue siendo una idea, pero ya tienes un analisis total o parcial echo:competencia, clientes, coeste, estrategias, perseonal, etc...Seguro que te falta algo pero ya se ve que puede funcionar.... o no.</label>
        </div> 
    </div>
    <div class="col-md-2">
        <img src="{{ asset('caja.png','caja') }}" alt="Symfony!"/>
    </div>
    <div class="col-md-10">
        <div class="form-check form-check-inline">
            {{form_row (formProfile.phase_productoMV)}}
            <label class="form-check-label par1" for="inlineCheckbox2 "> <b>Producto mínimo viable </b> Tienes un prototipo que funciona, pero te falta complementarlo con mas perfiles.</label>
        </div> 
    </div>
      <div class="col-md-2">
        <img src="{{ asset('final.png','final') }}" alt="Symfony!"/>
    </div>
    <div class="col-md-10">
        <div class="form-check form-check-inline">
            {{form_row (formProfile.phase_productoFinal)}}
            <label class="form-check-label par1" for="inlineCheckbox2 "> <b>Producto final</b> Tienes equipo, tienes producto, incluso ya facturas.. es decir, necesitas mas profesionales para tu negocio.</label>
        </div> 
    </div>
       

</div>
{{form_end (formProfile)}}
    <!-- Fin From  Step 2  -->

 <!-- Start navegation Multi Form  -->
<div h-auto>
    <div style="float:right;">
      <button type="button" class="btn btn-primary btn-block nextPrev" id="nextBtn" data-next="1">Siguente</button>
      <button type="button" class="btn btn-primary btn-block nextPrev" id="prevBtn" data-next="-1">Anterior</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>    
  </div> 
<!-- FIN navegation Multi Form  -->
{% endblock %} 
