{% extends 'user_views/index_vista.html.twig' %}

{% block vista %}
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("op3").style.background="#000066";
            document.getElementById("op3").style.color="#fff";
        }
    </script> 
    <div class="col-md-12 m-t-20"> 
        <ul class="nav nav-pills  m-l-10">
            <li class="nav-item">
                <a class="nav-link active par " data-toggle="pill" href="#Busco_Yo">Busco Yo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link par " data-toggle="pill" href="#Me_Buscan">Me Buscan</a>
            </li>      
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane  active " id="Busco_Yo">
                <div class="row">
                    <div class="col-md-12  m-l-10 m-t-20 m-b-10">
                        <h4 class="page-head-line">Mis Propuestas(Busco)</h4>
                    </div>
                </div>
                <div class="busco">
                    <div class="row">
                        <div class="col-md-12  m-l-10 ">
                            <p class=""><b>Usuarios que “yo busco a mis proyectos</b></p>           
                        </div>
                        <div class="col-md-12 table-responsive">
                            <table class="table ">
                                <thead class="bgGris">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Perfil</th>
                                        <th>Proyecto</th>
                                        <th>Negociacion</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set i = 0 %}
                                {% for searchprofile in searchprofiles %}
                                    <tr >
                                        <td>
                                            <p>{{searchprofile.InterestDate|date('d/m/Y') }}</p>
                                        </td>
                                        <td>
                                            <a  class="ver_color " href="/profiles/{{usersSearchData[i].user.id}}"><p>@{{usersSearchData[i].user.userName}}</p></a>                                            
                                        </td>
                                        <td>
                                            <p>{{usersSearchData[i].userProfile.profileName}}</p>                                          
                                        </td>
                                        <td>
                                            <a class="ver_color " href="#"><p>{{usersSearchData[i].proyect.proyectName}}</p></a>                                                                                  
                                        </td>
                                        <td>
                                            <p>{{searchprofile.InterestDescription}}</p>
                                        </td>
                                        <td>  
                                            {% if searchprofile.InterestStatus == 0 %}                      
                                             <p>Pendiente</p>
                                             {% else %}
                                             <p>Reunido</p>
                                             {% endif %}
                                        </td>                                
                                    </tr>
                                     {% set i = i + 1 %}
                                 {% endfor %}   
                                </tbody>     
                            </table> 
                        </div>
                        <div class="col-md-12 m-l-10 ">
                            <p  class="par1"><b>Proyectos en los que “yo quiero participar".</b></p>           
                        </div>
                        <div class="col-md-12 table-responsive">
                            <table class="table   ">
                                <thead class="bgGris">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Proyecto</th>
                                        <th>Perfil</th>                                     
                                        <th>Negociacion</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set n = 0 %}
                                {% for searchProject in searchProjects %}
                                    <tr class="">
                                        <td>
                                            <p>{{searchProject.InterestDate|date('d/m/Y')}}
                                        </td>
                                         <td>
                                            <a  class="ver_color " href="/proyectos/{{usersSearchProjectData[n].proyect.id}}"><p>{{usersSearchProjectData[n].proyect.proyectName}}</p></a>                                                                                  
                                        </td>
                                        <td>
                                            <p>{{searchProject.InterestProfil}}</p>                                          
                                        </td>
                                       
                                        <td>
                                            <p>{% if searchProject.InterestPercent != 0 %} {{searchProject.InterestPercent}}{% endif %}{{searchProject.InterestDeal}}</p>
                                                                                   
                                        </td>
                                        <td>                        
                                             {% if searchProject.InterestStatusOwner == 0 %}                      
                                                 <p>Pendiente</p>
                                             {% else %}
                                                <p>Reunido</p>
                                             {% endif %}      
                                        </td>                                
                                    </tr>
                                    {% set n = n + 1 %}
                                {% endfor %}
                                </tbody>     
                            </table> 
                        </div>
                    </div>
                </div>              
            </div>
            <div class="tab-pane  fade " id="Me_Buscan">
                <div class="row">
                    <div class="col-md-12 m-l-10 m-t-20 m-b-10 ">
                        <h4 class="ver_color">Mis Propuestas(Me Buscan)</h4>
                    </div>
                </div>
                <div class="me_buscan">
                    <div class="row">
                        <div class="col-md-12 ">
                            <p  class="par1"><b>Usuarios que Quieren participar en mis proyectos</b></p>           
                        </div>
                        <div class="col-md-12 table-responsive">
                            <table class="table  ">
                                <thead class="bgGris">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Proyecto</th>
                                        <th>Perfil</th>                                     
                                        <th>Negociacion</th>
                                         <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 {% set k = 0 %}

                                    {% for searchProjectToColaborate in searchProjectsToColaborate %}
                                        <tr class="">
                                            <td>
                                                <p>{{searchProjectToColaborate.InterestDate | date('d/m/Y')}}</p>
                                            </td>
                                            <td>
                                                <a  class="ver_color " href="/profiles/{{userProjectsToColaborate[k].userData.id}}"><p>@{{userProjectsToColaborate[k].userData.userName}}</p></a>                                            
                                            </td>
                                            <td>
                                                <a  class="ver_color " href="/proyectos/{{userProjectsToColaborate[k].proyect.id}}"><p>{{userProjectsToColaborate[k].proyect.proyectName}}</p></a>
                                            </td> 
                                            <td>
                                                <p>{{searchProjectToColaborate.InterestProfil}}</p>
                                            </td>
                                            <td>
                                                 <p>{% if searchProjectToColaborate.InterestPercent != 0 %} {{searchProjectToColaborate.InterestPercent}}{% endif %}{{searchProjectToColaborate.InterestDeal}}</p>
                                            </td> 
                                            <td>
                                                    {% if searchProjectToColaborate.InterestStatusOwner == 0 %}                      
                                                    <p>Pendiente</p>
                                                    {% else %}
                                                        <p>Reunido</p>
                                                    {% endif %} 
                                            </td>                                  
                                        </tr>
                                        {% set k = k + 1 %}
                                    {% endfor %}
                                </tbody>     
                            </table> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <p  class="par1"><b>Proyectos que Quieren que participe</b></p>           
                        </div>
                        <div class="col-md-12 table-responsive">
                            <table class="table   ">
                                <thead class="bgGris">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Proyecto</th>
                                        <th>Perfil</th>                                     
                                        <th>Negociacion</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set x = 0 %}
                                {% for searchProfilePartner in searchProfilesPartner %}
                                    <tr class="">
                                        <td>
                                            <p>{{searchProfilePartner.InterestDate|date('d/m/Y')}}
                                        </td>
                                         <td>
                                            <a  class="ver_color " href="/proyectos/{{usersProfileForPartner[x].proyect.id}}"><p>{{usersProfileForPartner[x].proyect.proyectName}}</p></a>                                                                                  
                                        </td>
                                        <td>
                                            <p>{{usersProfileForPartner[x].userProfile.profileName}}</p>                                      
                                        </td>
                                       
                                        <td>
                                            <p>{{searchProfilePartner.InterestDescription}}</p>                                                                                   
                                        </td>
                                        <td>                        
                                             {% if searchProfilePartner.InterestStatus == 0 %}                      
                                                 <p>Pendiente</p>
                                             {% else %}
                                                <p>Reunido</p>
                                             {% endif %}      
                                        </td>                                
                                    </tr>
                                    {% set x = x + 1 %}
                                {% endfor %}
                                </tbody>     
                            </table> 
                        </div>
                    </div>
                </div> 
            </div>            
        </div>
    </div>
                                        
{% endblock %} 
   