{% extends 'base.html.twig' %}

{% block title %}Vista_Usuario{% endblock %}

{% block content %}
<!--Contenido Vista-Usuario--> 
	<nav class="navbar navbar-light">
        <div class="row">
            <div class="col-md-1">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"  aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-md-11 col-12">       
                <form class="form-inline"id="menu">
                    <div class="row no-gutters">
                        <div class="col-md-2 col-12">
                            <a href="{{ path('datos_personales') }}" id="op0"class="nav-link  text-center" type="submit">
                                Datos Personales						
                            </a>
                        </div>
                        <div class="col-md-2 col-12">
                            <a href="{{ path('datos_profesionales') }}" id="op1" class="nav-link  text-center" type="submit">
                                Datos Profesionales						
                            </a>
                        </div>
                        <div class="col-md-2 col-12">
                            <a href="{{ path('datos_proyectos') }}" id="op2"  class="nav-link text-center" type="submit">
                                Mis Proyectos				
                            </a>
                        </div>
                        <div class="col-md-2 col-12">
                            <a class="nav-link  text-center"  href="{{ path('datos_propuestas') }}" id="op3"  type="submit">
                                Mis Propuestas
                            </a>
                        </div>
                        <div class="col-md-2 col-12">			
                            <a href="{{ path('datos_cuenta') }}" id="op4" class="nav-link   text-center" type="submit">
                                Mis<br/> Cuenta
                            </a> 
                        </div>
                    </div> 
                </form> 
            </div>    
        </div>                               
    </nav>            
    {% block vista %}
    <div class="vistaPredefinida m-t-20 ">
        <div class="row">
            <div class="col-md-6 col-12">
                <p class="par ver_color fs-20 p-l-5 "><b>Informacion Perfil</b></p>
                <div class="row p-l-20">
                    <div class="col-md-4 col-4 border">
                        <div><img src ="{{ asset('build/img/uploads/users_perfil/' ~ user.getPerfilImg) }}"/></div>
                    </div> 
                    <div class="col-md-8 col-8">
                        <div class="row">
                            <span>Nombre:<b>{{ app.user.name }}</b></span>
                            <span>Email:<b>{{ app.user.email }}</b></span>
                            <span>Telefono:<b>{{ app.user.phoneNumber }}</b></span>
                        </div>    
                    </div> 
                </div>
            </div>
            <div class="col-md-6">
                <p class="ver_color par fs-20 p-l-5"><b>Datos profesionales</b></p>
                <span class=" par fs-15 p-l-5">Te defines como:</span>
                <div  class="border m-r-20 par1"style="height:60px;" >
                
                {% if profesionalProfile is not null %}

                {{ profesionalProfile.profesionalDescription }}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="row m-t-20 margin_top "> 
            <div class="col-md-12">
                <p class=" par fs-17 p-l-5">Estos son los perfiles profesionales y los sectores en los que tienes experiencia:</p>
            </div>
        </div>   
        <div class="row m-t-10 m-r-10 par1">
            <div class="col-md-2 col-3"><p class="p-t-10">Comercial/<br/>Contactos:<br/>Fereteria</p></div>
            <div class="col-md-10 col-9  border"style="height:80px;"></div>
        </div> 
        <div class="proyect_box m-t-10 m-l-5 m-r-20 ">
            <div class="row ">
                <div class="col-md-12 par">
                <p class="fs-20 ver_color par"><b>Tienes los siguentes proyectos publicados:</b></p> 
                </div>
                 {% for project in userProjects %}
                    <div class="col-md-3 p-t-10 ">
                        <h5 class="par">{{project.ProjectName}}</h5>
                        <img class="img p-t-10" src="{{ asset('img.png','img') }}" alt="Symfony!"/>
                    </div>
                    <div class="col-md-9">
                        <table class="table par ">
                            <thead class="bgGris ">
                                <tr>
                                    <th>Informe</th>
                                    <th>Fase</th>
                                    <th>Aporto</th>
                                    <th>Necesito/Ofrezo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border">
                                    <td>
                                        <a data-toggle="modal" data-target="#modalForm_info_proyecto" class="ver_color par" href="#"><p>Ver</p></a>                                       </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#modalForm_fase_proyecto" class="ver_color par" href="#"><p>Idea</p></a>                                       </td>
                                    <td>
                                        <p>Diseño</p><p>Legal</p> 
                                        <a data-toggle="modal" data-target="#modalForm_aporto_proyecto" class="ver_color par" href="#"><p>Nuevo</p></a>
                                    </td>
                                    <td>
                                        <p>Marketing 3 /Obra y Servicio</p><p>Legal 3% Ventas</p>
                                        <a data-toggle="modal" data-target="#modalForm_necesito_proyecto"class="ver_color par" href="#"><p>Nuevo</p></a>
                                    </td>
                                </tr>
                            </tbody>     
                        </table> 
                    </div>
                {% endfor %}
                
            </div>
        </div> 
    </div>          
          
    {% endblock %}             

{% endblock %}
