{% extends 'user_views/index_vista.html.twig' %}

{% block vista %}
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("op0").style.background="#0070C0";
            document.getElementById("op0").style.color="#fff";
        }
    </script> 
    <div class="row">
        <div class="col-md-12 m-b-20">
            <h4 class="page-head-line">Actualiza tus datos personales</h4>
        </div>
    </div> 
    {{ form_start(form) }}  
    <div class="col-md-12 ">
        <div class="row">
            <div class="col-md-3 col-sm-12  shadow_box p-3">
                <div  w-100>
                    <img src ="{{ asset('build/img/uploads/users_perfil/' ~ user.getPerfilImg) }}"/>
                </div>    
                <div class="p-b-0">
                    <div class="form-group ">
                        {{form_row(form.perfil_img) }}
                    </div>
                </div>
            </div>   
            <div class="col-md-4 col-sm-12">
                <div class="formulario">
                    <div class="form-group row">
                        <label for="inputUsername" class="col-4 col-form-label par1">Usuario*</label>
                        <div class="col-8 p-l-0 p-b-5">
                            {{ form_row(form.username) }}
                        </div>
                        <label for="inputName" class="col-4 col-form-label par1">Nombre*</label>
                        <div class="col-8 p-l-0 p-b-5">
                            {{ form_row(form.name) }}
                        </div>
                        <label for="inputSurname1" class="col-4 col-form-label par1">Appellido1* </label>
                        <div class="col-8 p-l-0 p-b-5">
                             {{ form_row(form.surname_1) }}
                        </div>
                        <label for="inputSurname2" class="col-4 col-form-label par1">Apellido2</label>
                        <div class="col-8 p-l-0 p-b-5">
                            {{ form_row(form.surname_2) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12  ">
               {{ form_row(form.sex) }}
                <div class="form-group row">
                    <label for="inputEdad" class="col-2 col-form-label par1">Edad</label>
                    <div class="col-10">
                        {{ form_row(form.birth_date) }}
                    </div>
                </div>    
            </div> 
        </div>
    </div> 
    <div class="col-12 bgAzul3">
        <div class=" text-white m-t-10 p-t-10 p-b-10 text-center ">
            <span class="par1">Datos de Contacto</span>
        </div> 
    </div>   
    <div class=" m-t-20  shadow_box p-3">
        <div class="row  p-t-10 p-l-10 p-r-10 ">
            <div class="col-md-8 col-sm-12 ">
                <div class="form-group row">
                    <label for="inputEmail" class="col-3 col-form-label par1">Email*</label>
                    <div class="col-9 p-b-3">
                         {{ form_row(form.email) }}
                    </div>
                    <label for="inputTelefono" class="col-3 col-form-label par1">Telefono</label>
                    <div class="col-9">
                        {{ form_row(form.phone_number ) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="p-t-10">
                    <span class="par1">Estos datos son necesarios para </br>que puedan contactar contigo</span>
                </div> 
            </div>
        </div>
    </div>    
    <div class=" m-t-20  m-b-10 shadow_box p-3">
        <div class="row p-t-10 p-l-10 p-r-10">
            <div class="col-md-6 col-sm-8">
                <div class="form-group row">
                    <label for="inputVia" class="col-3 col-form-label par1">Dirección*</label>
                    <div class="col-9">
                       {{ form_row(form.street_name) }}
                    </div>
                     <label for="inputVia" class="col-3 col-form-label par1">Portal</label>
                    <div class="col-9">
                       {{ form_row(form.apartment) }}
                    </div>

                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="form-group row">
                    <label for="inputNR_Via" class="col-4 col-form-label">Nr</label>
                    <div class="col-8">
                        {{ form_row(form.street_number) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="p-t-10">
                    <span class="par1" >Estos datos son necesarios para buscar</br>por proximidad,pero nunca seran </br>publicos</span>
                </div> 
            </div>
            <div class="col-8">
                <div class="form-group row">
                    <label for="inputCodigoPostal" class="col-2 col-form-label par1"> CP</label>
                    <div class="col-9">
                       <div class="m-l-15">{{ form_row(form.postal_code) }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="inputCodigoPostal" class="col-3 col-form-label par1">Poblacion</label>
                    <div class="col-9">
                        {{ form_row(form.city) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="inputCodigoPostal" class="col-2 col-form-label par1">Provincia</label>
                    <div class="col-9">
                       {{ form_row(form.province) }}
                    </div>
                </div>
            </div>
             <div class="col-md-6 col-sm-12">
                <div class="form-group row">
                    <label for="inputCodigoPostal" class="col-3 col-form-label par1">Pais</label>
                    <div class="col-9">
                       {{ form_row(form.country) }}
                    </div>
                </div>
            </div>   
        </div>
    </div> 
    <div class="col-md-12 m-b-20 btn-primary">
        <input type="submit" class="btn btn-block btn-primary par1 " value="Guardar datos personales"/>
    </div>
      
     {{ form_end(form) }}  
{% endblock %}  
