{% extends 'base.html.twig' %}

{% block content %}
<!--Contenido HOME-->
    <div class="flex-row justify-content-around p-t-15">
        <div class="col-xs-6 home-item">
            <button class="btn btn-primary"><a class="" href="{{ path('projects') }}">Busco proyectos</a></button>
        </div> 
        <div class=" col-xs-6 home-item">
            <button class="btn btn-primary"><a class=""  href="{{ path('profiles') }}">Busco perfiles</a></button>  
        </div>
    </div> 

<!-- Carousel -->
<div class="row">
<!--PROJECT slide-->
    <div class="col-md-6">  
        <div class="row p-t-15 slick-projects slider">
            {% for project in projects %}              
            <div class="card slide-home">
                    <div class="img-container">
                        {% if project.getProjectImg is not empty  %}
                            <img class="card-img-top" src ="{{ asset('build/img/uploads/projects_img/' ~ project.getProjectImg) | imagine_filter('slide_thumb') }}"/>
                        {% else %}
                            <img class="card-img-top" src ="{{ asset('build/img/uploads/projects_img/8bd59024872918f349f730b3e1d62bfc.jpeg') | imagine_filter('slide_thumb') }}">
                        {% endif %} 
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{project.getProjectName}}</h4>
                        <p class="card-text"><i class="fa fa-pencil-square-o bigicon"></i> {{project.getProjectShortDescription}}</p>
                        <div class="home-center-btn">
                            <a class="btn btn-primary" href="{{ path('project',{"id": project.id}) }}">Ver Proyecto</a>
                        </div>
                    </div>                         
               
            </div>           
               {% endfor %} 
        </div>  
    </div>
    <!--PROFILE slide-->
    <div class="col-md-6">    
        <div class="row p-t-15 slick-projects slider">
        
            {% for profile in profiles %}              
         
                <div class="card slide-home"> 
                    <div class="img-container">
                        {% if profile.user_img is not empty  %}
                            <img class="card-img-top" src ="{{ asset('build/img/uploads/users_profile/' ~ profile.user_img) | imagine_filter('slide_thumb') }}"/>
                        {% else %}
                            <img class="card-img-top" src ="{{ asset('build/img/uploads/projects_img/8bd59024872918f349f730b3e1d62bfc.jpeg') | imagine_filter('slide_thumb') }}">
                        {% endif %} 
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{profile.name}}</h4>
                        <p class="card-text"><i class="fa fa-pencil-square-o bigicon"></i> {{profile.profesional.0}}</p>
                        <div class="home-center-btn">
                            <a class="btn btn-primary" href="{{ path('profile',{"id": profile.user_id}) }}">Ver Prerfil</a>
                        </div>
                    </div> 
                </div>
                    
               {% endfor %} 
        </div>  
    </div>
</div><!-- Fin ROW-->
<!-- Fin Carousel-->
               

{% endblock %}
