{% extends 'base.html.twig' %}

{% block content %}
<!--Contenido HOME-->
    <div class="flex-row justify-content-around p-t-15">
		<div class=" col-xs-6 home-item">
            <button class="btn btn-primary"><a class=""  href="{{ path('profiles') }}">Busco equipo</a></button>  
        </div>
        <div class="col-xs-6 home-item">
            <button class="btn btn-primary"><a class="" href="{{ path('projects') }}">Busco project</a></button>
        </div> 
    </div> 

<!-- Carousel -->
<div class="row">
<!--First slide-->
    <div class="col-lg-6">    
        <div class="row p-t-15 slick-projects slider">
            {% for project in projects %}              
            <div>
                <div class="shadow_box"> 
                    <div class="img-container">
                        {% if project.getProjectImg is not empty  %}
                            <img class="card-img-top" src ="{{ asset('build/img/uploads/projects_img/' ~ project.getProjectImg) | imagine_filter('my_thumb') }}"/>
                        {% else %}
                            <img class="card-img-top" src ="{{ asset('build/img/uploads/projects_img/8bd59024872918f349f730b3e1d62bfc.jpeg') | imagine_filter('my_thumb') }}">
                        {% endif %} 
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <a class="btn">Button</a>
                    </div>                         
                </div>
            </div>           
               {% endfor %} 
        </div>  
    </div>
    <!--Second slide-->
    <div class="col-lg-6">    
        <div class="row p-t-15 slick-projects slider">
            {% for project in projects %}              
            <div>
                <div class="shadow_box"> 
                    <div class="img-container">
                        {% if project.getProjectImg is not empty  %}
                            <img class="card-img-top" src ="{{ asset('build/img/uploads/projects_img/' ~ project.getProjectImg) | imagine_filter('my_thumb') }}"/>
                        {% else %}
                            <img class="card-img-top" src ="{{ asset('build/img/uploads/projects_img/8bd59024872918f349f730b3e1d62bfc.jpeg') | imagine_filter('my_thumb') }}">
                        {% endif %} 
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <a class="btn">Button</a>
                    </div>
                </div>
            </div>           
               {% endfor %} 
        </div>  
    </div>
</div><!-- Fin ROW-->
<!-- Fin Carousel-->
               

{% endblock %}
