<!--Ventana Pop-Up -->  
    <div class="modal fade par" id="modalForm-add-needs" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Nuevo Profile Necesitado </h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body">                   
                            {{ form_start (form_New_Project_Needs, { 'attr' : { 'id': 'project_needs' } }) }}
                                    {{ form_widget  (form_New_Project_Needs.needs_Profile) }}
                                     {{ form_widget  (form_New_Project_Needs.needs_deal) }}
                                     {% if needsProjectNew.NeedsDeal in ['% Empresa','% Ventas'] %}
                                                {{ form_widget (form_New_Project_Needs.needs_percent)}}
                                    {% else %}
                                            {{ form_row (form_New_Project_Needs.needs_percent,{ 'attr' : { 'class': 'hide-e' } })}}
                                    {% endif %}  

                                    {#{ form_row (form_New_Project_Needs.needs_percent) }#}  
                                    {{ form_row (form_New_Project_Needs.needs_description) }}                                             
                                     <input type="submit" id="submit-form-add" class="btn-primary float-l" style="display:none"/>  
                            {{ form_end (form_New_Project_Needs) }}
                                    

                </div>
                <!-- Modal Footer -->
                <div class="modal-footer d-none">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success submitBtn" onclick="submitContactForm()">Guardar</button>
                </div>
            </div>
        </div>
    </div>    