  <!--Ventana Pop-Up --> 
<!-- Include Modal Header for Add Profil to Project and the content we will -->
 <div class="modal fade par" id="modalForm-{{contribute.id}}" role="dialog">  
    <div class="modal-dialog">      
        <div class="modal-content">        
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Nuevo Profile</h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body"> 

                                   <!-- Esto es una chapusa para tener el Value --> 
                                {% set arrProfile ={
                                    'Marketing':1,
                                    'Diseño':2,
                                    'Programación':3,
                                    'Legal':4,
                                    'Comercial':5,
                                    'Financiero':6,
                                    'Espacio Fisico ':7,
                                    'Financiación':8
                                    }                                
                                %}
                                {{ form_start (formsProfiles[contribute.id], { 'attr' : { 'id': 'profile_to_project' } }) }}
                                        {#{value:arrProfile[contribute.ContributeProfile] }#}
                                    {{ form_widget (formsProfiles[contribute.id].contribute_profile) }}
                                    {{ form_row (formsProfiles[contribute.id].contribute_description) }}                                             
                                     {{ form_row (formsProfiles[contribute.id].submit , { 'attr' : { 'class': 'btn-primary float-l' } }) }} 
                                     <input type="submit" id="submit-form" class="btn-primary float-l" style="display:none"/>  
                                {{ form_end (formsProfiles[contribute.id]) }}
                                <div class="col-md-6 ">
                                    <button type="button" class="btn-primary btn float-r profile_Project_delete" data-id="{{contribute.id}}" data-Project-id="{{app.request.get('id')}}">Borrar Profile</button>
                                </div>
                                    
                            
                </div>       
        </div>  
    </div>           
</div>                            
            
    
      