<!--Ventana Pop-Up -->  
    <div class="modal fade par" id="modal-form-needs-{{needProyect.id}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Nuevo Perfil Necesitado </h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body">                                
                            {{ form_start (formsProyects[needProyect.id], { 'attr' : { 'id': 'project_needs' } }) }}
                                    {{ form_row  (formsProyects[needProyect.id].needs_perfil) }}                                    
                                    {{ form_row  (formsProyects[needProyect.id].needs_deal) }}
                                     {% if needProyect.NeedsDeal in ['% Empresa','% Ventas'] %}
                                                {{ form_row (formsProyects[needProyect.id].needs_percent)}}
                                    {% else %}
                                            {{ form_row (formsProyects[needProyect.id].needs_percent,{ 'attr' : { 'class': 'hide-e percent-edit' } })}}
                                    {% endif %}  

                                    {{ form_row (formsProyects[needProyect.id].needs_description) }}                                             
                                     <input type="submit" id="submit-form" class="btn-primary float-l" style="display:none"/>  
                            {{ form_end (formsProyects[needProyect.id]) }}
                                   <div class="col-md-6 ">
                                    <button type="button" class="btn-primary btn float-r needs-profile-delete" data-id="{{needProyect.id}}" data-proyect-id="{{app.request.get('id')}}">Borrar </button>
                                </div>

                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success submitBtn" onclick="submitContactForm()">Guardar</button>
                </div>
            </div>
        </div>
    </div>  