<!--Ventana Pop-Up -->  
    <div class="modal fade par" id="modal-form-needs-{{needProject.id}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Nuevo Profile Necesitado </h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body">                                
                            {{ form_start (formsProjects[needProject.id], { 'attr' : { 'id': 'project_needs' } }) }}
                                    {{ form_widget  (formsProjects[needProject.id].needs_Profile) }}                                    
                                    {{ form_widget  (formsProjects[needProject.id].needs_deal) }}
                                     {% if needProject.NeedsDeal in ['% Empresa','% Ventas'] %}
                                                {{ form_row (formsProjects[needProject.id].needs_percent)}}
                                    {% else %}
                                            {{ form_row (formsProjects[needProject.id].needs_percent,{ 'attr' : { 'class': 'hide-e percent-edit' } })}}
                                    {% endif %}  

                                    {{ form_row (formsProjects[needProject.id].needs_description) }}                                             
                                     <input type="submit" id="submit-form" class="btn-primary float-l" style="display:none"/>                           
                                    <button type="button" class="btn-primary btn float-r needs-profile-delete" data-id="{{needProject.id}}" data-Project-id="{{app.request.get('id')}}">Borrar </button>
                             {{ form_end (formsProjects[needProject.id]) }} 

                </div>
                <!-- Modal Footer -->
                <div class="modal-footer d-none">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success submitBtn" onclick="submitContactForm()">Guardar</button>
                </div>
            </div>
        </div>
    </div>  