<!--Ventana Pop-Up --> 
<div class="modal fade par" id="modalForm_info_proyecto" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Informacion Proyecto</h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="col-md-12 par">                    
                        <p>&#9679; Esto no no es un plan de negocios, se trata de mostrar que has  hechos los deberes y que grado de compromiso tienes con tu proyecto.</p> 
                        <p>&#9679; Recuerda entrar y completar lo que falte para que sea cada vez más atractiva para los demás.</p>
                    </div>
                    <div class="row">
                        <div class="mobil col-md-3">
                            <img src="{{ asset('img.png','img') }}" alt="Symfony!"/>
                            <form class="p-b-0">
                                <div class="form-group">
                                    <input type="file" class="form-control  p-t-0 p-l-0 p-b-0 par1 "style="height:10%;width:100%;" >
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <form class="formulario">
                                <div class="form-group row">
                                {{dump(userProjects[0])}} 
                                    <label for="inputNombre_Proyecto" class="col-4 col-form-label par1">Nombre del proyecto*</label>
                                    <div class="col-8 p-l-0 p-b-5">
                                        <span>{{userProjects[0].ProjectName}}</span> 
                                    </div>
                                    <label for="" class="col-4 col-form-label par1">Defineción en una linea*</label>
                                    <div class="col-8 p-l-0 p-b-5">
                                        <span>{{userProjects[0].ProjectShortDescription}}</span> 
                                    </div>
                                    <label for="" class="col-4 col-form-label par1 m-t-25">Facturacion estimada </label>
                                    <div class="col-8 p-l-0 p-b-5">
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="" class="col-form-label par1 text-center">Año 1</label>                            
                                                <input type="" class="form-control" id="" >
                                            </div>  
                                            <div class="col-4">
                                                <label for="" class="col-form-label par1 text-center">Año 2</label>                            
                                                <input type="" class="form-control" id="" >
                                            </div> 
                                            <div class="col-4">
                                                <label for="" class="col-form-label par1 text-center">Año 3</label>                            
                                                <input type="" class="form-control" id="" >
                                            </div>   
                                        </div>    
                                    </div>
                                    <label for="" class="col-4 col-form-label par1">Clientes Potenciales</label>
                                    <div class="col-8 p-l-0 p-b-5">
                                        <div class="row">
                                            <label for="" class="col-3 col-form-label par1">Usuarios</label>
                                            <div class="col-3 p-l-0 p-b-5">
                                                <input type="" class="form-control" id="" >
                                            </div>
                                            <label for="" class="col-3 col-form-label par1">Empresas</label>
                                            <div class="col-3 p-l-0 p-b-5">
                                                <input type="" class="form-control" id="" >
                                            </div>
                                        </div>    
                                    </div>
                                    <label for="" class="col-4 col-form-label par1">Competidores</label>
                                    <div class="col-8 p-l-0 p-b-5">
                                        <input type="" class="form-control" id="" >
                                    </div>
                                </div>
                            </form> 
                        </div>  
                    </div>
                    <div class="col-md-12">
                        <a  id="ver"href="#ayuda" value="Mostrar" onclick="mostrar()"><img src="{{ asset('circulo.png','circulo') }}" alt="Symfony!"/></a>
                    </div>
                    <div id="ayuda" class="col-md-12 m-b-20  border par " style="display:none">
                        <h4 class="bgAzul text-white par">¿ Cómo rellenar un Proyecto?</h4>
                        <p>Esto no es plan de negocio, es un resumen de puntos básicos que debes de mostrar si  quieres que alguien se interese en tu proyecto</p>
                        <p>Trata de despertar el interés sin desvelar información sobre tu modelo de negocio, tu estrategia, tu política de precio o tu mercado. Eso dejalo para cuando encuentres a tu equipo.</p>
                        <p>&#9679;  <b>Nombre del Proyecto:</b> si lo tienes pensado y no lo has registrado no lo pongas, y si no tienes nada pensado inventatelo y vete pensando uno.</p>
                        <p>&#9679;  <b>Definirlo en una línea: </b> Cuenta de forma rápida y precisa en qué consiste tu negocio.</p>  
                        <p>Los siguientes puntos son importantes si quieres que la gente demuestre interés, son puntos necesarios de un estudio de mercado para ver la viabilidad del proyecto.</p>
                        <p>Si inicialmente no lo sabes, no pasa nada, pero poco a poco vete completandolo</p>
                        <p>&#9679; <b>Facturación estimada:</b> Cuantifica cuánto vas a vender en los próximo 3 años, pon cifras lógicas y basadas en números que que tengan sentido.</p>
                        <p>&#9679; <b>Clientes Potenciales: </b> son los que van a pagar por tu producto o servicio.</p>
                        <p>Según el tipo de proyecto, pueden existir 2 tipos de clientes:</p>
                        <p>Usuarios:</p><p>Ejemplo</p><p>Empresas:</p><p>Ejemplo</p>
                        <p>&#9679; <b>Competencia: </b>Enumera quien es tu competencia, ya tendrás tiempo de analizar.</p>
                        <p><b>Mini-Resumen ejecutivo:</b></p>
                        <p>Aquí puede cualificar los anteriores. el objetivo es demostrar a los futuromiembros que todo tiene un ¿porque?, una base sólida que permite confiar tanto en el proyecto como en ti y tu equipo</p>
                        <p>Recuerda que tienes que demostrar que es un proyecto serio, y con pespectivas, pero nuestro consejo es que no desveles etratejias </p>
                        <p>La idea.</p><p>La idea.</p><p>El estado en el que encuentra</p><p>La prevision de crecimiento</p><p>La prevision.</p><p>El equipo.</p>
                        <a href="#ayuda" value="Ocultar" onclick="ocultar()" class="ver_color float-r par" >Ocultar Ayuda</a>
                    </div>                   
                    <div class="col-md-12 m-l-0  fs-15">
                        <p class="par"><b>Rezumen ejecutivo*</b></p> 
                        <span  name="Description" class="form-control par1" >
                            {{userProjects[0].ProjectDescription}}
                        </span>
                    </div>
                </div>
                <!-- Modal Footer -->
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                    <button type="button" class="btn btn-success submitBtn" onclick="submitContactForm()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
	<script type="text/javascript">
        function mostrar(){
            document.getElementById('ayuda').style.display = 'block';}
        function ocultar(){
            document.getElementById('ayuda').style.display = 'none';}     
	</script>
{% endblock %}
 

    