  <!--Ventana Pop-Up -->  
    <div class="modal fade par" id="modalForm_MeInteresa" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                 <!-- Modal Body -->
                <div class="modal-body">
                    {{ form_start   (formInterstProject) }}
                        <!-- Step 1 -->
                    <div id="interest-step-1">
                        <div class="col-md-12 text-center m-t-10  modal-title interestdata" data-userid='{{app.user.id}}' data-projectid='{{project.id}}'>
                     
                            <h4 class="par" id="myModalLabel">Con que perfil quieres interesarte</h4> 
                             {{dump(formInterstProject)}}
                        </div>
                            {{ form_row (formInterstProject.interest_profil,{'attr' : { 'id': 'profile_user' }} )}}
                            <span class="btn-primary btn float-r profile_project_interest btnEndInterest1">Siguiente</span>
                    </div>  
                    <!-- Fin Step 1 -->
                    <!-- Step 2 -->
                    <div id="interest-step-2" class="hide-e">
                        <div class="col-md-12 text-center m-t-10  modal-title interest-title">
                            <h4 class="par" id="myModalLabel">Participa en el proyecto</h4> 
                             
                        </div>
                                <div class="add-profil-project hide-e">
                                    {{ form_row (formInterstProject.interest_sector,{'attr' : { 'class': 'needs_project_needs_sector hide-e' }}) }}
                                    {{ form_row (formInterstProject.interest_deal,{'attr' : { 'class': 'needs_project_needs_deal hide-e' }}) }} 
                                    {{ form_row (formInterstProject.interest_percent,{ 'type':'number' ,'attr' : { 'class': 'needs_project_needs_percent hide-e','placeholder': '5' }}) }} 
                                    {{ form_row (formInterstProject.extra_profile_des,{ 'attr' : { 'class': 'hide-e','placeholder': 'Describe tu experiencia con respeto a este profile' }}) }} 
                                    <span class="btn-primary btn float-r profile_project_interest hide-e btnEndAddProfile">Siguiente</span> 
                                </div>                                
                             {{ form_row (formInterstProject.interest_description,{'attr' : { 'placeholder': 'Cuenta tu propuesta y porque...' }}) }} 
                             {{ form_row (formInterstProject.submit,{'attr' : { 'class': 'btn-primary float-r sendIn' }}) }} 

                            
                            <input type="submit" id="submit-form-add" class="btn-primary float-r" style="display:none"/>    
                            <span class="btn-primary btn float-l profile_project_interest btnEndInterest1-Atras">Atras</span> 
                                                                     
                    </div>
                    
                    <!-- Fin Step 2 -->     
                    {{ form_end     (formInterstProject) }}  
                </div>
                                        
            </div>
        </div>
    </div>
    
      