  <!--Ventana Pop-Up -->  
    <div class="modal fade par" id="modalForm_interestProfile" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="modal-close" aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                 <!-- Modal Body -->
                <div class="modal-body">
                    {{ form_start   (formInterestProfile) }}
                        <!-- Step 1 -->
                    <div id="interest-step-1">
                        <div class="col-md-12 text-center m-t-10  modal-title interestdata " data-usrperfilid={{app.user.id}}>
                     
                            <h4 class="par" id="myModalLabel">Con que perfil quieres interesarte</h4>  
                        </div>
                            {{ form_row (formInterestProfile.interest_project,{'attr' : { 'class': 'projects_user' }} )}}
                            {{ form_row (formInterestProfile.interest_profile,{'attr' : { 'class': 'profile_user' }}) }}
                            <span class="btn-primary btn float-r profile_interest_1 btnEndInterest1 " >Siguiente</span>
                    </div>  
                    <!-- Fin Step 1 -->
                    <!-- Step 2 -->
                    <div id="interest-step-2" class="hide-e">
                        <div class="col-md-12 text-center m-t-10  modal-title interest-profile-title">
                            <h4 class="par" id="myModalLabel">Participa en el proyecto</h4> 
                             
                        </div>                                                      
                            {{ form_row (formInterestProfile.interest_description) }}
                            {{ form_row (formInterestProfile.submit) }}
                            <input type="submit" id="submit-form-add" class="btn-primary float-r" style="display:none"/>    
                            <span class="btn-primary btn float-l profile_interest_2 btnEndInterest1-Atras">Atras</span> 
                                                                     
                    </div>
                    
                    <!-- Fin Step 2 --> 
                    {{ form_end     (formInterestProfile) }}  
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>                            
            </div>
        </div>
    </div>
    
      