{% block header %}
<div class="container bgWhite  "> 
    <!-- COMMENT FOR WORK ...DONT PRINT LOGO
    <div class="flex-row justify-content-around border-bottom border-secondary">
        <div class="col-xs-2"> 
            <img class="imglogo " src="{{ asset('logo.png','imagenlogo') }}" alt="Symfony!"/>
         </div>               
        <div class="col-xs-10 ">                           
            <img  class="imgbanner" src="{{ asset('banner.png','banner') }}" alt="Symfony!"/>          
        </div> 
    </div>-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('proyectos') }}">Proyectos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="{{ path('profiles') }}">Perfiles <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('noticias') }}">Noticias</a>
                        <a class="dropdown-item" href="{{ path('foro') }}">Foro</a>
                        <a class="dropdown-item" href="{{ path('herramientas') }}">Herramientas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if is_granted('ROLE_USER') %}
                    <a class="nav-link" href="{{ path('vista_usuario') }}">{{ app.user.username}}</a>       
                    <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ path('security_logout') }}">Deconectate</a>       
                {% else %}
                    <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ path('security_login') }}">Iniciar/Registrar</a>
                {% endif %}
            </form>
        </div>
    </nav>   
</div>    
{% endblock %}

