{% block header %}
<!--Contenido Navegaccion-->
<div class="container">   
    <section id="navegaccion" >       
        <div class="navbar navbar-dark bg-dark p-b-0">
            <div class="row" >
                <div class="col-md-1">
                    <button type="button" data-toggle="collapse" data-target="#menu1" class="navbar-toggler p-t-70 ">
                        <span class="navbar-toggler-icon nti btn-info par m-b-0  active "></span>
                    </button> 
                </div> 
               <div class="col-md-2"> 
                    <img class="imglogo" src="{{ asset('logo.png','imagenlogo') }}" alt="Symfony!"/>
                </div>               
                <div class="col-md-9">                           
                    <img  class="imgbanner" src="{{ asset('banner.png','banner') }}" alt="Symfony!"/>          
                </div>   
                <div class="menu_vista">
                    <div class="container-menu_vista" >
                        <div class="wrap-menu m-l-35">
                            <div  id="menu1" >
                                <a href="{{ path('proyectos') }}"  class="par1 btn-success p-t-5 p-b-5 p-l-50 p-r-50 text-center" type="submit">
                                    Proyectos						
                                </a>
                                <a href="{{ path('equipo') }}" class="par1 text-white btn-warning p-t-5 p-b-5 p-l-50 p-r-50  text-center" type="submit">
                                    Perfiles						
                                </a>
                                <a href="#"   class="par1 btn-info p-t-5 p-b-5 p-l-50 p-r-50  text-center" type="submit">
                                    Noticias			
                                </a>
                                <a href="#"  class="par1 btn-info p-t-5 p-b-5 p-l-50 p-r-50  text-center" type="submit">
                                    Foro			
                                </a>
                                <a href="# " class="par1 btn-info p-t-5 p-b-5 p-l-50 p-r-50  text-center" type="submit">
                                    Herramientas
                                </a> 
                                <a href="{{ path('login') }}"  class="par1 border p-t-5 p-b-5 p-l-50 p-r-50 text-center" type="submit">
                                    Login
                                </a>   
                            </div>                             
                        </div>
                    </div>          
                </div>                            
            </div>                   
        </div>    
    </section>  
</div> 
{% endblock %}

