{% block header %}
<div class="container-fluid bgWhite  "> 
    <!-- COMMENT FOR WORK ...DONT PRINT LOGOWORK-->
    <div class="flex-row justify-content-around border-bottom border-secondary">
        <div class="col-2  col-xl-4"> 
         <!-- COMMENT FOR WORK ...DONT PRINT LOGOWORK
            <a href="/">
                <img class="img-fluid float-left" alt="Responsive image" src ="{{ asset('build/img/logo.png') }}"> 
            </a>-->
         </div>             
        <div class="col-7 col-md-10 col-xl-8">                        
         <!-- COMMENT FOR WORK ...DONT PRINT banner                  
            <img class="img-fluid float-right" alt="Responsive image" src ="{{ asset('build/img/banner.png') }}"> -->        
        </div> 
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('projects') }}">Proyectos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="{{ path('profiles') }}">Perfiles</a>
                </li>
                
                {% if is_granted('ROLE_USER') %}
              
                <li class="nav-item active  border-left">
                    <a class="nav-link " id="op0" href="{{ path('personal-info') }}">Datos Personales</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="op1" href="{{ path('professional-info') }}">Datos Profesionales</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="op2" href="{{ path('projects-info') }}">Mis proyectos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="op3"href="{{ path('proposals-info') }}">Mis Propuestas</a>
                </li>
                 <li class="nav-item active">
                    <a class="nav-link" id="op4"href="{{ path('list-notes') }}">Mis Notas</a>
                </li>
                {% endif %}                           
            </ul>
            <form class="form-inline my-2 my-lg-0">
                     
                {% if is_granted('ROLE_USER') %}                 
                    <a class="fs-18 fsu-username" href="{{ path('user') }}" data-fsu-username="{{app.user.id}}">{{ app.user.username}}</a> 
                    <a tabindex="0" role="button" rel="popover" data-placement="bottom" data-toggle="popover" href="#" >
                       <div class="icono-notification">

                            <img class="notification rounded-circle" src ="{{ asset('build/img/uploads/users_profile/' ~ app.user.getProfileImg) }}"/>
                            {% if results.count_notify > 0 %}
                                <div class="icono-encima bg-danger text-white fs-10 not-count">{{results.count_notify}}</div>
                            {% endif %}    

                        </div>
                    </a>       
                    <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ path('security_logout') }}">Deconectate</a>       
                {% else %}
                    <a class="btn btn-outline-secondary my-2 my-sm-0" href="{{ path('security_login') }}">Iniciar/Registrar</a>
                {% endif %}
            </form>
        </div>
    </nav>   
</div> 
{% if is_granted('ROLE_USER') %}
<!-- Content for Popover  -->
<div class="popover d-none" id="popover_content">
    <div class="data-content" >  
        <div class="container-fluid"> 
            <div class="row m-t-15">

                <!--Start Content Notify  -->
               {% if results.values is defined%}
                    {% for result in results.values %}
                    {% set notify_type  = result.type %}                
                        {% if attribute (result,notify_type) is defined %}                        
                            {% for user in attribute(result,notify_type) %}                            
                                <div class="activity_item ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="rounded" src ="{{ asset('build/img/uploads/users_profile/' ~ user.user_image) }}"/>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="d-flex align-items-top justify-content-between">
                                                <span>{{user.user}}</span>
                                                <span>{{user.time}}</span>
                                            </div>
                                            <span class="text-muted">Perfil:
                                                {% if user.interest_profile is defined %}
                                                    {{user.interest_profile}}
                                                {% elseif user.interest_project is defined %}
                                                    {{user.interest_project}}
                                                {% endif %}
                                            
                                            </span><br/>                                         
                                            <!--<span class="text-muted">{{user.interest_description}}</span>-->
                                        </div>               
                                    </div><hr/>                  
                                </div>
                            {% endfor %}    
                        {% endif %}                    
                    {% endfor %}
                {% endif %}        
                <!--Fin Content Notify  -->                
                <div class="col-md-12 ">
                    <div class="colorAzul text-center fs-15 p-3"><a href="{{ path('list-messages') }}">Ver Mensajes</a></div>
                </div>
            </div>                                    
        </div>         
    </div>
</div>
{% endif %} 
{% endblock %}

