{% extends 'messages/list.html.twig' %}

{% block message %}
<!--Vista-Mensaje-->
<div class="container">
    <div class="msg_detail py-3"> 
    {% for messageid in message %}                   
        <div class="row">
            <div class="col-md-2">
                <img class="img-msg float-right" src ="{{ asset('build/img/uploads/users_profile/' ~ messageid.getUserSender.getProfileImg) }}"/>                                       
            </div>
            <div class="col-md-10">
                <span class="fs-18">{{ messageid.getUserSender.name}}</span>
                <span class="fs-12">{{ messageid.time|date("d/m/y H:i")}}</span>
                <p class="p-t-15">{{messageid.text}}</p>  
                <!--<p class="p-t-15">{{messageid.getInterestProject.getInterestDescription}}</p> -->         
            </div>
        </div>
        <span class="float-right fs-12">Para proyecto:<span class="ver_color"> {{ messageid.getInterestProject.getInterestIdProject.getProjectName}}</span></span>
        <hr/>
    {% endfor %}
    </div>
 </div>
 <div class="container">   
    {{ form_start(form) }} 
        {{form_widget(form)}}   
    {{ form_end(form) }}          
</div>          
{% endblock %} 
