
 {% extends 'user/index.html.twig' %}

{% block vista %}
 <div class="row">
                    <ul class="js-pagination u-carousel-indicators-v30 g-pos-abs g-top-0">
            <li class="">

               <a href="{{ path('add-project', {'id':app.request.get('id')}) }}">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15">Información project</span>
                </a>

            </li>
            <li class=" ">

                <a href="#">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15">Fase project</span>
                </a>
            </li>
            <li class="slick-active">
                <a href="#">
                    <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                    </i>
                    <span class="g-hidden-sm-down g-color-black g-font-size-15">Aportación en el project</span>
                </a>
            </li>
            <li class="">
                <a href="{{ path('project-needs', {'id':app.request.get('id')}) }}">
                <i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm">
                    <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-brd-primary--hover g-brd-primary--active g-transition--ease-in g-transition-0_2"></span>
                </i>
                <span class="g-hidden-sm-down g-color-black g-font-size-15 ">Necesidades project</span>
                </a>
            </li>
        </ul>
    </div> 
 
                <!-- Step Form Header -->
                <div class="modal-header">
                </div>
                <div class="col-md-12 text-center m-t-10  modal-title">
                    <h4 class="par" id="myModalLabel">Aportacion en el projecto</h4>  
                </div>    
                <!-- Modal Body -->
                <div class="modal-body">                   
                    <div class="col-md-12 m-t-20">
                        <p>Para atraer el interés cuenta tu experiencia, contactos, clientes, equipo, espacio de trabajo, etc. Intenta que la gente a parte de confiar en tu project, confíe en ti.</p>
                    </div>
                    <div class="col-md-12">
                        <p>&#9679; Tanto si estás solo como si tienes equipo, cuéntanos qué Profilees están cubiertos en tu project</p>
                        <p>&#9679; Marca de forma general que se cubre y luego explica si hay alguna especialidad: Lenguajes de programación, tipo de marketing, especialización jurídica, etc</p>
                        <p>&#9679; Recuerda que una persona puede cubrir distintos Profilees y varias personas un único Profile</p>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn-primary add_Profile_to_project" data-toggle="modal" data-target="#modalForm">
                            Añadir Profile Aportado
                        </button>
                    </div> 
                    <div class="col-md-12 m-t-20">
                        <table class="table border par1 ">
                            <thead>
                                <tr>
                                    <th>Profile</th>                                    
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                           
                            {% for contribute in contributeProject %}
                                <tr>                               
                                    <td>
                                        {% if contribute.contributeProfile is not null %}
                                        <p>{{contribute.contributeProfile.name}}</p>
                                        {% endif %}
                                    </td>                                    
                                    <td>
                                        <p>{{contribute.ContributeDescription}}</p>
                                        <a class="ver_color par1" data-toggle="modal" data-target="#modalForm-{{contribute.id}}" href="#"><p>ver</p></a>
                                        {% include 'modals/editProfileToProject.html.twig' with {'id':contribute.id} %}  
                                    </td>
                                </tr>
                            {% endfor %}    
                            </tbody>
                        </table>
                    </div>                
                </div>
            
            

{% include 'modals/addProfileToProject.html.twig' %} 
{% endblock %}
