{% extends 'vista_usuario/index_vista.html.twig' %}

{% block vista %}
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("op1").style.background="green";
        }
    </script> 
    <div class="row">
        <div class="col-md-12  m-l-20  m-t-20 m-b-20">
            <h4 class="page-head-line">Actualiza tus datos profesionales</h4>
        </div>
    </div> 
    <div class="content_header m-l-20 m-r-20"> 
    {{ form_start(form) }}
        <div class="row p-r-80"> 
            <div class="col-md-12 fs-17 m-b-10"> 
                <p class=""><b>¿Buscas nuevos retos y nuevas colaboraciones?</b></p> 
            </div>
            <div class="col-md-5  ver_color">
                <div class="form-check form-check-inline cuadro border p-l-15 p-r-15">
                    <label class="form-check-label  p-r-10 fs-20" for="inlineCheckbox1">Busco Proyecto</label>
                    {{ form_row(form.profesionalSearchProject) }}
                </div> 
            </div> 
            <div class="afos col-md-7 m-l-0  fs-15">
                <p class="">¿Quieres tici en proyectos interesantes donde aportar tu experiencia, contactos y demás?</p>
            </div>
        </div>            
    </div>
    <div class="content_descripcion m-l-20">  
        <div class="row p-r-80"> 
            <div class="col-md-12 fs-17 m-b-20"> 
                <p class=""><b>¿Quien eres? Defínete como persona, como compañero lo bien que trabajas...</b></p> 
            </div>
            <div class="col-md-12 m-l-0  fs-15">
            {{ form_row(form.profesionalDescription, {'attr': {'placeholder': 'Descríbete con un máximo de 300 caracteres...'}} ) }}
               
            </div>
        </div>        
    </div>
  <div class="content_sector m-l-20 ">  
        <div class="row p-r-80"> 
            <div class="col-md-12 fs-17 m-b-20"> 
                <p class=""><b>¿Cómo de bueno eres en tu trabajo? Cuéntanos en qué destacas,tus hitos,tus exitos y que sector es el que mejor conoces.</b></p> 
            </div>
            <div class="col-md-2 p-t-60">
                {% if profiles|length <= 3 %}
                <a class="btn-info add-profil" data-toggle="modal" data-target="#modalForm">
                             Añade Perfil
                </a>
                {% else %}
                <p class="btn-info">Añade Perfil</p>
                 <span class="info">Has llegado al maximos de 4 perfiles</span>
                {% endif %}
                 
                
            </div> 
            <div class="col-md-10  table-responsive m-l-0  fs-15">
                <table class="table border ">
                    <thead>
                        <tr>
                            <th>Perfil</th>
                            <th>Sector</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profile in profiles %}
                            <tr>                       
                                <td>
                                    <p>{{ profile.profil}}</p>                                 
                                </td>
                                <td>
                                    <p>{{profile.sector}}</p>    
                                <td>
                                    <a data-toggle="modal" data-target="#modalForm" data-profil="{{profile.profil}}" data-sector="{{profile.sector}}" data-id="{{profile.id}}" class="ver_color select_perfil" 
                                    href="#{{ profile.id  }}"><p>Ver</p></a> 
                                              
                            </tr>
                        {% endfor %} 
                       {#{ render(controller('App\\Controller\\SingelProfile::addProfileUser', { 'id' : '' } )) }#} 
                    </tbody>
                </table>
            </div>
        </div>     
    </div>
    <div class="col-md-12 m-b-20">        
        <input type='submit' class="btn btn-info btn-block" value='Guardar datos profesionales'/>
    </div>	

  
{{ form_end(form) }}	 
<!-- Include Modal Header and the conetento we will get from SingleProfil-->
 <div class="modal fade par" id="modalForm" role="dialog">  
    <div class="modal-dialog">      
        <div class="modal-content">  
        </div>  
    </div>           
</div>
{% endblock %}  
