{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block content %}
{% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<!--Proyectos-->
    <div class="bgWhite">
        <h1 class="col-md-12 text-center search-title p-t-20">Buscar TU Proyecto de Interes</h1>
        <form class="m-b-50 m-l-20 m-r-20 form-filter-proyects ">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <select class="custom-select form-control " id="select-perfil">
                            <option selected>Elije Perfil...</option>
                                {% for perfil in opciones_perfil %}             
                                    <option>
                                        {{ perfil.name }}</li>
                                    </option>                 
                                {% endfor %}
                            
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">        
                        <select class="custom-select form-control " id="select-sector">
                            <option selected>Elije Sector...</option>
                            {% for sector in opciones_sectores %}
                                <option value={{sector.id}}>
                                    {{ sector.name }}</li>
                                </option>    
                            {% endfor %}  
                        </select> 
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">            
                        <input type="number" name="km" class="proyect-km form-control " placeholder="Distancia en KM">
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">        
                        <button type="button" class="btn search-btn filter-proyects">Buscar</button>
                    </div>
                </div>
            </div>             
        </form>
    </div>  
    <div class="row">
        {% for project in projects %} 
        <div class="col-12 col-md-6 col-xl-4"> 
            <div class="single-featured-proyect m-b-50 ">                         
                <div class="proyect-head">  
                    <img src="img/proyects.png" alt="">
                </div>
                <div class="proyect-content"> 
                    <div class="d-flex align-items-top justify-content-between">    
                        <h5>{{ project.ProjectName }}</h5> 
                        <p>{{ project.ProjectDate|date("d/m/y")}}</p>
                    </div>  
                    <p class="sector">Sector: {{ project.ProjectSector}}</p>                                    
                    <p>Descripcion:</p>
                    <p>{{ project.ProjectShortDescription}}</p> 
                    <div class="d-flex align-items-end justify-content-between">           
                        <div>@{{project.user.username}}</div>         
                        <div><a href="{{ path("detalle_proyecto",{"id": project.id }) }}" class=" ver_color">Ver Mass..</a></div>           
                    </div>
                     <div>
                        {% if is_granted('edit', project) %} 
                            <a href="{{path('add_proyecto',{'id':project.id})}}" class="btn btn-primary">Modificar</a>
                        {% endif %}
                        {% if is_granted('delete', project) %} 
                            <button class="btn btn-secondary  delete-proyect" data-id="{{project.id}}">Eliminar</button>
                        {% endif %}
                    </div>               
                </div>                                                  
            </div>
        </div> 
        {% endfor %}            
    </div>
{% endblock %}

