{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block content %}
{% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<!--Proyectos-->
    <div class="bgWhite">
        <h1 class="col-md-12 text-center search-title p-t-20">Buscar TU Proyecto de Interes</h1>
        <form class="m-b-50 m-l-20 m-r-20 form-filter-proyects ">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <select class="custom-select form-control-search " id="select-perfil">
                            <option selected>Elije Perfil...</option>
                                {% for perfil in opciones_perfil %}             
                                    <option>
                                        {{ perfil.name }}</li>
                                    </option>                 
                                {% endfor %}
                            
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">        
                        <select class="custom-select form-control-search" id="select-sector">
                            <option selected>Elije Sector...</option>
                            {% for sector in opciones_sectores %}
                                <option value={{sector.id}}>
                                    {{ sector.name }}</li>
                                </option>    
                            {% endfor %}  
                        </select> 
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">            
                        <input type="number" name="km" class="proyect-km form-control-search " placeholder="Distancia en KM">
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">        
                        <button type="button" class="btn btn-primary filter-proyects">Buscar</button>
                    </div>
                </div>
            </div>             
        </form>
    </div> 
    <div class="row">
         {% for project in projects %}  
        <div class="col-md-3 m-b-15"> 
            <div class="cardBlock shadow_box" >         
                <div class="imageCard p-3">
                    {% if project.getProjectImg is not empty  %}
                        <img src ="{{ asset('build/img/uploads/projects_img/' ~ project.getProjectImg) }}"/>
                    {% else %}
                        <img src ="{{ asset('build/img/proyecto-fsu.png') }}">
                    {% endif %}    
                </div>                
                <div class="mainCard p-3">        
                    <p><b>{{ project.ProjectName }}</b></p>
                    <p >{{ project.ProjectDate|date("d/m/y")}}</p>        
                    <div class="revealCard">
                        <hr/> 
                        <p>Sector: {{ project.ProjectSector}}</p>                                    
                        <p>Descripcion:<br/>
                            {{ project.ProjectShortDescription}}
                        </p> 
                        <div class="colorAzul">
                             <hr/> 
                            <a href="{{ path("detalle_proyecto",{"id": project.id }) }}">Ir a Detalle</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        {% endfor %} 
    </div>         
{% endblock %}

