{% extends 'base.html.twig' %}

{% block title %}Detalle project{% endblock %}
{% block content %}

<!--Contenido Detalleproject-->
 {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <div class="row m-t-20">
        <div class="col-8">
            <p class="ver_color fs-20 "><b>Informacion personal del promotor del project</b></p>
        </div>
        <div class="col-4">
        {% if is_granted('ROLE_USER') %}
                    <a href="#" data-toggle="modal" data-target="#modalForm_MeInteresa"><p class="btn btn-primary  fs-20 text-center projectInterstMe float-right">Me Interesa</p></a>
                        {% include 'modals/interest-project.html.twig' %}  
                    
                    {#ESTO ES PARA CUANDO YA TE HAS INTERESADO % if matchInterestProject %}
                        <a href="{{ path('proposals-info')}}" ><p class="btn btn-outline-secondary  fs-20 text-center projectInterstMe float-right">Ver Conversaciones</p></a>
                    {% else %}
                                                  
                    {% endif %#}                    
                {% else %}
                    <a href="{{ path('security_login') }}"><p class="btn btn-primary  fs-20 text-center  projectInterstMe float-right">Me Interesa</p></a>   
        {% endif %}                                             
        </div>
    </div>
    <div class="row margin_top m-t-20">    
        <div class="col-md-7 col-12">
            <div class="row">
                <div class="col-md-4 col-4 shadow_box p-3 ">
                    <div> <img  class="card-img-top" src ="{{ asset('build/img/uploads/users_profile/' ~ project.user.getProfileImg) }}" alt="image"/></div>
                </div> 
                <div class="col-md-8 col-8 shadow_box p-3">
                    <span>Usuario: <b>{{project.user.username}}</b></span><br/>
                    <span>Nombre: <b>{{project.user.name}}</b></span><br/>
                    {% if is_granted('ROLE_USER') %}
                    <span>Proximidad: 4,5km</span><br/>
                    <span>Email: <b>{{project.user.email}}</b></span><br/>
                    <span>Telefono: <b>{{project.user.phoneNumber}}</b></span><br/>
                    {% endif %}
                </div> 
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
        <div class="col-md-5 col-12 ">
            <div class="float-right">
                <span>Contactos previos:</span><br/>
                <span>Tu has contactado con el :<a href="#"class="ver_color">Si</a></span><br/>
                <span>El ha contactado contigo:<b>No</b></span><br/>
            </div>    
        </div>
          {% endif %}
    </div>
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" ver_color par fs-20"><b>Informacion del project</b></p>
        </div>
    </div> 
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-3 col-6 shadow_box p-5 ">
            <img src ="{{ asset('build/img/uploads/projects_img/' ~ project.getProjectImg) }}"/>
        </div> 
        <div class="col-md-9 bgGris shadow_box">
            <div class="row  shadow_box bgAzul text-white px-2 py-3 ">
                <div class="col-md-6 col-12 "><span>Nombre del project: <span class=" fs-20 project-title"><b>{{ project.ProjectName }}</b></span></span></div> 
                <div class="col-md-6 col-12"><span>Publicado el: <b class=" fs-20">{{ project.ProjectDate|date("d/m/y")}}</b></span></div>
            </div>
            <div class="row px-2">
                <div class="col-md-12 col-12"><span>Definelo en una linea:</span> <span class="colorAzul2 fs-20">{{ project.ProjectShortDescription}}</span></span></div>
            </div>
            <div class="row px-2">
                <div class="col-md-3 col-12"><span>Facturacion estimada: </span></div>
                <div class="col-md-3 col-4"><span>año1:<span class="colorAzul2 fs-20"> {{ project.ProjectAproxFacturation1}}€</span></span></div>
                <div class="col-md-3 col-4"><span>año2: <span class="colorAzul2 fs-20">{{ project.ProjectAproxFacturation2}}€</span></span></div>
                <div class="col-md-3 col-4"><span>año3: <span class="colorAzul2 fs-20">{{ project.ProjectAproxFacturation3}}€</span></span></div>
            </div> 
            <div class="row px-2">
                <div class="col-md-3 col-12"><span>Clientes potentiales: </span></div>
                <div class="col-md-4 col-6"><span>Usarios: <span class="colorAzul2 fs-20">{{ project.ProjectPotentialyUsers}}</span></span></div>
                <div class="col-md-5 col-6"><span>Empresas: <span class="colorAzul2 fs-20">{{ project.ProjectPotentialyCompanies}}</span></span></div>
            </div> 
            <div class="row px-2 ">
                <div class="col-md-12 col-12"><span>Competidores: <span class="colorAzul2 fs-20">{{ project.ProjectCompetitors}}</span></span></div>
            </div>        
        </div>
    </div>
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" par fs-20 "><b>Rezumen ejecutivo</b></p>
        </div>
        <div class="col-md-12 shadow_box">
            <div  class=" colorAzul2  p-2" >
                {{ project.ProjectDescription}}
            </div>
        </div>
    </div> 
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12 col-12">
            <p class="fs-20"><b>Fase en la que se encuentra el project</b></p>
        </div>
        {% if project.PhaseIdea == true %}
            <div class="col-md-2 col-4">
                <img src="{{ asset('bumb.png','bumb') }}" alt="Symfony!"/>
            </div>
            <div class="col-md-10 col-8">
                <div> 
                    <label><b>Idea</b>
                    Es solo eso, no has analizado nada y piensas que puede funcionar.</label>
                </div> 
            </div>
            {% else %}
            {% if project.PhaseIdeaMV == true %}
                <div class="col-md-2 col-4">
                    <img src="{{ asset('cuaderno.png','cuaderno') }}" alt="Symfony!"/>
                </div>
                <div class="col-md-10 col-8">
                    <div>                           
                        <label><b>Idea minima viable</b>
                        Sigue siendo una idea, pero ya tienes un analisis total o parcial echo:competencia, clientes, coeste, estrategias, perseonal, etc...Seguro que te falta algo pero ya se ve que puede funcionar.... o no .</label>
                    </div> 
                </div>
                {% else %}
                {% if project.PhaseProductoMV == true %}
                    <div class="col-md-2 col-4">
                        <img src="{{ asset('caja.png','caja') }}" alt="Symfony!"/>
                    </div>
                    <div class="col-md-10 col-8">                           
                        <label><b>Producto minimo viable</b>
                        Tienes un prototipo que funciona, pero te falta complementarlo con mas Profilees.</label>
                    </div> 
                    {% else %}
                    {% if project.PhaseProductoFinal == true %}
                        <div class="col-md-2 col-4">
                            <img src="{{ asset('final.png','final') }}" alt="Symfony!"/>
                        </div>
                        <div class="col-md-10 col-8">                           
                            <label><b>Producto Final</b>
                            Tienes equipo, tienes producto, incluso ya facturas.. es decir, necesitas mas profesionales para tu negocio..</label>
                        </div> 
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %} 
       
    </div>
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" ver_color par fs-20"><b>¿Que aporta el promotor del project?</b></p>
        </div>
        <div class="col-md-12">
            <span><b>El numero de miembros de este project es de : {{project.ProjectTeamNumber}}</span>
        </div>
        <div class="col-md-12">
            <span><b>Aporta los siguentes Profilees :</b></span>
        </div>
    </div>    
    {% for contribute in contributeProject %}
    <div class="row m-t-20  shadow_box bgGris p-3  ">
        <div class="col-md-3 col-4"><p class="p-t-10">{% if contribute.ContributeProfile %} {{contribute.ContributeProfile.name}} {% endif %} : </p></div>
        <div class="col-md-7 col-6 bgWhite p-3">{{contribute.ContributeDescription}} </div>
    </div> 
    {% endfor %}  
    <div class="row m-t-20"> 
        <div class="col-md-12">
            <p class=" ver_color par fs-20 p-l-5"><b>¿Que necesita y que ofrece?</b></p>
        </div>
    </div>
   {% for needs in needsProject %}
    <div class="row m-t-20 shadow_box bgGris p-3 ">
        <div class="col-md-3 col-4"><p class="p-t-10">{% if needs.NeedsProfile %}{{needs.NeedsProfile.name}} {% endif %} : </p></div>
        <div class="col-md-7 col-6 bgWhite p-3">
                {% if needs.NeedsPercent != 0 %}
                    {{needs.NeedsPercent}}
                {% endif %}
                    {{needs.NeedsDeal}} : {{needs.NeedsDescription}}
        </div>
    </div> 
    
    {% endfor %} 
    <div class="row m-t-20"></div>     
{% endblock %}
