{% extends 'base.html.twig' %}

{% block title %}Detalle Proyecto{% endblock %}
{% block content %}
<!--Contenido DetalleProyecto-->
    <div class="row m-t-20">
        <div class="col-8">
            <p class="ver_color fs-20 p-l-5"><b>Informacion personal del promotor del proyecto</b></p>
        </div>
        <div class="col-4">
            <a href="#" data-toggle="modal" data-target="#modalForm_MeInteresa"><p class="bgGris p-r-5 p-l-5 text-center fs-20 m-r-10  ">Me Interesa</p></a>                                   
        </div>
    </div>
    <div class="row margin_top m-t-20">    
        <div class="col-md-7 col-12 p-l-40">
            <div class="row">
                <div class="col-md-4 col-4 border ">
                    <div>Foto</div>
                </div> 
                <div class="col-md-8 col-8">
                    <span>Usuario :<b>{{project.user.username}}</b></span><br/>
                    <span>Nombre:<b>{{project.user.name}}</b></span><br/>
                    <span>Proximidad: 4,5km</span><br/>
                    <span>Email:<b>{{project.user.email}}</b></span><br/>
                    <span>Telefono:<b>{{project.user.phoneNumber}}</b></span><br/>
                </div> 
            </div>
        </div>
        <div class="col-md-5 col-12 p-l-40">
            <span>Contactos previos:</span><br/>
            <span>Tu has contactado con el :<a href="#"class="ver_color">Si</a></span><br/>
            <span>El ha contactado contigo:<b>No</b></span><br/>
        </div>
    </div>
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" ver_color par fs-20 p-l-5"><b>Informacion del proyecto</b></p>
        </div>
    </div> 
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-3 col-6">
            <img src="{{ asset('img.png','img') }}" alt="Symfony!"/>
        </div> 
        <div class="col-md-9 col-12">
            <div class="row">
                <div class="col-md-6 col-12"><span>Nombre del Proyecto:<b>{{ project.ProjectName }}</b></span></div>
                <div class="col-md-6 col-12"><span>Publicado el :<b>{{ project.ProjectDate|date("d/m/y")}}</b></span></div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12"><span>Definelo en una linea:<b>{{ project.ProjectShortDescription}}</b></span></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12"><span>Facturacion estimada:</span></div>
                <div class="col-md-2 col-4"><span>año1:<b>{{ project.ProjectAproxFacturation1}}</b></span></div>
                <div class="col-md-2 col-4"><span>año2:<b>{{ project.ProjectAproxFacturation2}}</b></span></div>
                <div class="col-md-2 col-4"><span>año3:<b>{{ project.ProjectAproxFacturation3}}</b></span></div>
            </div> 
            <div class="row">
                <div class="col-md-4 col-12"><span>Clientes potentiales:</span></div>
                <div class="col-md-4 col-6"><span>Usarios:<b>{{ project.ProjectPotentialyUsers}}</b></span></div>
                <div class="col-md-4 col-6"><span>Empresas:<b>{{ project.ProjectPotentialyCompanies}}</b></span></div>
            </div> 
            <div class="row">
                <div class="col-md-12 col-12"><span>Competidores:<b>{{ project.ProjectCompetitors}}</b></span></div>
            </div>        
        </div>
    </div>
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" par fs-20 p-l-5"><b>Rezumen ejecutivo</b></p>
        </div>
        <div class="col-md-12 ">
            <div  class="border m-r-20"style="height:80px;" >
               <b>{{ project.ProjectShortDescription}}</b>
            </div>
        </div>
    </div> 
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12 col-12">
            <p class="fs-20 p-l-5"><b>Fase en la que se encuentra el proyecto</b></p>
        </div>
        <div class="col-md-2 col-4">
            <img src="{{ asset('bumb.png','bumb') }}" alt="Symfony!"/>
        </div>
        <div class="col-md-10 col-8">
            <span>
                <b>Idea</b> Es solo eso, no has analizado nada y piensas que puede funcionar.
            </span>
        </div>
    </div>
    <div class="row m-t-20 margin_top "> 
        <div class="col-md-12">
            <p class=" ver_color par fs-20 p-l-5"><b>¿Que aporta el promotor del proyecto?</b></p>
        </div>
        <div class="col-md-12">
            <span><b>El numero de miembros de este proyecto es de 1 ,y aporta los siguentes perfiles</b></span>
        </div>
    </div>    
    <div class="row m-t-20 ">
        <div class="col-md-2 col-3"><p class="p-t-10">Comercial/<br/>Contactos</p></div>
        <div class="col-md-8 col-8 border"style="height:80px;"></div>
    </div> 
    <div class="row m-t-20">
        <div class="col-md-2 col-3 "><p class="p-t-10">Comercial/<br/>Contactos</p></div>
        <div class="col-md-8 col-8 border"style="height:80px;"></div>
    </div>  
    <div class="row m-t-20"> 
        <div class="col-md-12">
            <p class=" ver_color par fs-20 p-l-5"><b>¿Que necesita y que ofrece?</b></p>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-md-2 col-3"><p class="p-t-10">Comercial/<br/>Contactos<br/>40%Ventas</p></div>
        <div class="col-md-8 col-8 border"style="height:80px;"></div>
    </div>             
    <div class="row m-t-20">
        <div class="col-md-2 col-3"><p class="p-t-10">Marketing/<br/>25%<br/>Empresa</p></div>
        <div class="col-md-8 col-8 border"style="height:80px;"></div>
    </div>    
    {% include 'modals/MeInteresa.html.twig' %}      
{% endblock %}
