{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block content %}
<!--Proyectos-->
    <h1 class="col-md-12 text-center m-t-20 m-b-20 par">Buscar Proyectos </h1>
      <form class="form-inline m-t-20 m-b-20">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Sectores</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Elije...</option>
            <option value="1">Marketing</option>
            <option value="2">Ventas</option>
            <option value="3">Compras</option>
        </select>
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Perfiles</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Elije...</option>
            <option value="1">Ingeniero</option>
            <option value="2">Administrativo</option>
            <option value="3">Director</option>
        </select>
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Distancia</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Elije...</option>
            <option value="1">Max...50km</option>
            <option value="2">Max...100km</option>
            <option value="3"> Mas...100km</option>
        </select>
        <button type="submit" class="d-none d-sm-block btn btn-sm  btn-outline-secondary my-2 my-xs-0">Buscar</button>
        <button type="submit" class="d-block d-sm-none btn btn-block btn-outline-secondary my-2 my-xs-0">Buscar</button>
    </form> 
    <div class="row ">
        <div class="col-md-4 col-sm-6 col-xs-12 m-t-10 m-b-10"> 
            <div class="card border">                         
                <div class="card-header d-none d-sm-block">  
                    <img  class="card-img-top" src="{{ asset('logo.png','imagenlogo') }}" alt="image">
                </div>
                <div class="card-body ">     
                    <h4 class="card-title">Necesidades:</br>Marketing,Diseño</h4>                   
                    <p class="card-text">Aportacion:</br>Programacion,Ventas..</strong></p>                  
                    <p class="card-text">Descripcion Proyecto</p>               
                </div> 
                <div class="card-footer"><a href="{{ path('detalle_proyecto') }}" class=" ver_color">Ver Mass..</a></div>                                                  
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 m-t-10 m-b-10"> 
            <div class="card border">                         
                <div class="card-header d-none d-sm-block">  
                    <img  class="card-img-top" src="{{ asset('logo.png','imagenlogo') }}" alt="image">
                </div>
                <div class="card-body ">     
                    <h4 class="card-title">Necesidades:</br>Marketing,Diseño</h4>                   
                    <p class="card-text">Aportacion:</br>Programacion,Ventas..</strong></p>                  
                    <p class="card-text">Descripcion Proyecto</p>               
                </div> 
                <div class="card-footer"><a href="{{ path('detalle_proyecto') }}" class=" ver_color">Ver Mass..</a></div>                                                  
            </div>
        </div>    
        <div class="col-md-4 col-sm-6 col-xs-12 m-t-10 m-b-10"> 
            <div class="card border">                         
                <div class="card-header d-none d-sm-block">  
                    <img  class="card-img-top" src="{{ asset('logo.png','imagenlogo') }}" alt="image">
                </div>
                <div class="card-body ">     
                    <h4 class="card-title">Necesidades:</br>Marketing,Diseño</h4>                   
                    <p class="card-text">Aportacion:</br>Programacion,Ventas..</strong></p>                  
                    <p class="card-text">Descripcion Proyecto</p>               
                </div> 
                <div class="card-footer"><a href="{{ path('detalle_proyecto') }}" class=" ver_color">Ver Mass..</a></div>                                                  
            </div>
        </div>             
    </div>
{% endblock %}

