{% extends 'base.html.twig' %}

{% block title %}{{app.user.name}}{% endblock %}

{% block content %}
<!--Contenido Vista-Usuario--> 
<div>        
    {% block vista %}
    <div class="vistaPredefinida">
        <div class="row">
            <div class="col-md-6 col-12">
                <p class="par ver_color fs-20 m-b-25 ">Informacion Profile</p>
                <div class="row ">
                    <div class="col-md-4 col-4 shadow_box p-3">
                        <div ><img src ="{{ asset('build/img/uploads/users_profile/' ~ user.getProfileImg) }}"/></div>
                    </div> 
                    <div class="col-md-8 col-8 shadow_box text-center p-5">
                        <div class="row">
                            <div class="col-12 "> Nombre :<span class="ver_color">{{ app.user.name }}</span></div>
                            <div class="col-12"> Email: <span class="ver_color">{{ app.user.email }}</span></div>
                            <div class="col-12"> Telefono: <span class="ver_color">{{ app.user.phoneNumber }}</span></div>
                        </div>    
                    </div> 
                </div>
            </div>
            <div class="col-md-6">
                <p class="ver_color par fs-20 ">Datos profesionales</p>
                <span class=" par fs-15 ">Te defines como:</span>
                <div  class="border p-3 par1 h-auto w-100" >
                
                {% if profesionalProfile is not null %}

                {{ profesionalProfile.profesionalDescription }}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="p-t-20 ">
            <div class="row ">
                <div class="col-md-12 par">
                    <p class="fs-20 ver_color par p-b-20">Tienes los siguentes projects publicados:</p> 
                </div>
                 {% for project in userProjects %}
                    <div class="card col-md-3 p-t-10 m-t-10 m-r-5">
                        <h5 class="par">{{project.ProjectName}}</h5>
                         <img class="w-50" src ="{{ asset('build/img/uploads/projects_img/' ~ project.getProjectImg) }}"/>
                        <div class="col-md-12">
                            <a class="col-md-3" href="{{ path("project",{"id": project.id }) }}">Ver</a>
                            <a class="col-md-3" href="{{ path("add-project",{"id": project.id }) }}">Editar</a>
                        </div>

                    </div>
                {% endfor %}
                
            </div>
        </div> 
    </div>          
          
    {% endblock %}             
</div>
{% endblock %}
