{% extends 'base.html.twig' %}

{% block title %}{{app.user.name}}{% endblock %}

{% block content %}
<!--Contenido Vista-Usuario--> 
<div>        
    {% block vista %}
    <div class="vistaPredefinida">
        <div class="row">
            <div class="col-md-6 col-12">
                <p class="par ver_color fs-20 m-b-25 ">Informacion Profile</p>
                <div class="row ">
                    <div class="col-md-4 col-4 shadow_box p-3">
                        <div ><img src ="{{ asset('build/img/uploads/users_perfil/' ~ user.getProfileImg) }}"/></div>
                    </div> 
                    <div class="col-md-8 col-8 shadow_box text-center p-5">
                        <div class="row">
                            <div class="col-12 "> Nombre :<span class="ver_color">{{ app.user.name }}</span></div>
                            <div class="col-12"> Email: <span class="ver_color">{{ app.user.email }}</span></div>
                            <div class="col-12"> Telefono: <span class="ver_color">{{ app.user.phoneNumber }}</span></div>
                        </div>    
                    </div> 
                </div>
            </div>
            <div class="col-md-6">
                <p class="ver_color par fs-20 ">Datos profesionales</p>
                <span class=" par fs-15 ">Te defines como:</span>
                <div  class="border p-3 par1 h-auto w-100" >
                
                {% if profesionalProfile is not null %}

                {{ profesionalProfile.profesionalDescription }}
                {% endif %}
                </div>
            </div>
        </div>
        <!--<div class="row  margin_top "> 
            <div class="col-md-12">
                <p class=" par fs-17 ">Estos son los Profilees profesionales y los sectores en los que tienes experiencia:</p>
            </div>
        </div>   
        <div class="row m-t-10  par1">
            <div class="col-md-2 col-3"><p class="p-t-10">Comercial/<br/>Contactos:<br/>Fereteria</p></div>
            <div class="col-md-10 col-9  border">
          
            </div>
        </div> -->
       
        <div class="Project_box p-t-20 ">
            <div class="row ">
                <div class="col-md-12 par">
                    <p class="fs-20 ver_color par p-b-20">Tienes los siguentes projects publicados:</p> 
                </div>
                 {% for project in userProjects %}
                    <div class="col-md-3 p-t-10 ">
                        <h5 class="par">{{project.ProjectName}}</h5>
                         <img class="w-50" src ="{{ asset('build/img/uploads/projects_img/' ~ project.getProjectImg) }}"/>
                    </div>
                   <!-- <div class="col-md-9">
                        <table class="table par ">
                            <thead class="bgGris ">
                                <tr>
                                    <th>Informe</th>
                                    <th>Fase</th>
                                    <th>Aporto</th>
                                    <th>Necesito/Ofrezo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td>
                                        <a data-toggle="modal" data-target="#modalForm_info_project" class="ver_color par" href="#"><p>Ver</p></a>                                       </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#modalForm_fase_project" class="ver_color par" href="#"><p>Idea</p></a>                                       </td>
                                    <td>
                                        <p>Diseño</p><p>Legal</p> 
                                        <a data-toggle="modal" data-target="#modalForm_aporto_project" class="ver_color par" href="#"><p>Nuevo</p></a>
                                    </td>
                                    <td>
                                        <p>Marketing 3 /Obra y Servicio</p><p>Legal 3% Ventas</p>
                                        <a data-toggle="modal" data-target="#modalForm_necesito_project"class="ver_color par" href="#"><p>Nuevo</p></a>
                                    </td>
                                </tr>
                            </tbody>     
                        </table> 
                    </div>-->
                {% endfor %}
                
            </div>
        </div> 
    </div>          
          
    {% endblock %}             
</div>
{% endblock %}
